.event-features > div {
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.feature-description {
  padding-left: 36px;
}

.event-frames .frame {
  margin-bottom: 80px;
}

.event-frames .frame .frame-title {
  font-size: 36px;
  font-weight: 500;
}

.event-frames .frame .frame-subtitle {
  font-size: 16px;
}

.frame-icons [class*="icon-"] {
  padding-left: 48px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 32px;
}

.frame-icons .icon-forms {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5 3.5h-25A2.5 2.5 0 0 0 1 6v20a2.5 2.5 0 0 0 2.5 2.5h25A2.5 2.5 0 0 0 31 26V6a2.5 2.5 0 0 0-2.5-2.5zm-11.25 20H6V21h11.25v2.5zm-.625-11.25a1.875 1.875 0 1 1 3.75 0 1.875 1.875 0 0 1-3.75 0zM26 23.5h-6.25V21H26v2.5zm-2.259-6.534l-1.582-1.932a3.56 3.56 0 0 0 0-5.568l1.582-1.932a6.053 6.053 0 0 1 0 9.432z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-upload {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.625 12.25H7.919l-2.13-3.194A1.252 1.252 0 0 0 4.75 8.5h-2.5a1.248 1.248 0 0 0-1.212 1.554l2.5 10c.14.556.64.946 1.213.946h10.165l-3.705 5.556a1.25 1.25 0 0 0 1.04 1.944h5c.418 0 .808-.209 1.04-.556L22.919 21h3.706A4.38 4.38 0 0 0 31 16.625a4.38 4.38 0 0 0-4.375-4.375zM13.84 9.75h7.931l-3.455-5.651a1.246 1.246 0 0 0-1.066-.6h-5a1.25 1.25 0 0 0-1.066 1.903L13.84 9.75z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-validation {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.25 3.583H4.75A3.755 3.755 0 0 0 1 7.333v15a3.755 3.755 0 0 0 3.75 3.75h5v-2.5H6c-.69 0-1.25-.56-1.25-1.25v-15c0-.69.56-1.25 1.25-1.25h20c.69 0 1.25.56 1.25 1.25v18.75a3.755 3.755 0 0 0 3.75-3.75v-15a3.755 3.755 0 0 0-3.75-3.75z' fill='%23A5A9B2'/%3E%3Cpath d='M24.633 21.802a1.252 1.252 0 0 0-1.133-.72h-4.404l1.815-4.535a1.251 1.251 0 0 0-2.121-1.264l-6.25 7.5a1.25 1.25 0 0 0 .96 2.049h4.404l-1.815 4.535a1.248 1.248 0 0 0 .521 1.537 1.25 1.25 0 0 0 1.601-.273l6.25-7.5c.31-.372.377-.89.172-1.33z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-checkin {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2C8.28 2 2 8.28 2 16s6.28 14 14 14 14-6.28 14-14S23.72 2 16 2zM7.833 16A1.166 1.166 0 1 1 5.5 16c0-1.618.38-3.145 1.035-4.516l1.78 1.78A8.092 8.092 0 0 0 7.833 16zM16 19.5c-1.93 0-3.5-1.57-3.5-3.5 0-.539.132-1.043.35-1.5L7.934 9.584l1.65-1.65 4.916 4.918A3.467 3.467 0 0 1 16 12.5c1.93 0 3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5zm9.333-2.333A1.166 1.166 0 0 1 24.167 16c0-4.503-3.665-8.167-8.167-8.167-.96 0-1.878.175-2.736.482l-1.779-1.78A10.408 10.408 0 0 1 16 5.5c5.79 0 10.5 4.711 10.5 10.5 0 .644-.521 1.167-1.167 1.167z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-import {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.75 13.5c.691 0 1.25-.559 1.25-1.25V6c0-.691-.559-1.25-1.25-1.25H2.25C1.559 4.75 1 5.309 1 6v6.25c0 .691.559 1.25 1.25 1.25 1.379 0 2.5 1.121 2.5 2.5s-1.121 2.5-2.5 2.5c-.691 0-1.25.559-1.25 1.25V26c0 .691.559 1.25 1.25 1.25h27.5c.691 0 1.25-.559 1.25-1.25v-6.25c0-.691-.559-1.25-1.25-1.25a2.503 2.503 0 0 1-2.5-2.5c0-1.379 1.121-2.5 2.5-2.5z' fill='%23A5A9B2'/%3E%3Cpath d='M16.293 9.333a5.757 5.757 0 0 0-5.576 4.319l2.231.574a3.452 3.452 0 0 1 5.8-1.561l-1.853 1.345 4.916 1.08.493-5.01-1.688 1.227a5.77 5.77 0 0 0-4.323-1.974zM16.293 19.697c-.93 0-1.811-.381-2.454-1.028l1.852-1.345-4.916-1.082-.493 5.01 1.688-1.226A5.77 5.77 0 0 0 16.294 22a5.757 5.757 0 0 0 5.577-4.318l-2.232-.575a3.452 3.452 0 0 1-3.345 2.59z' fill='%23fff'/%3E%3C/svg%3E");
}

.frame-icons .icon-eticket {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 6h-2.5V3.5h-15V6H6V2.25A1.25 1.25 0 0 1 7.25 1h17.5A1.25 1.25 0 0 1 26 2.25V6zM27.25 8.5H4.75A3.75 3.75 0 0 0 1 12.25V23.5a1.25 1.25 0 0 0 1.25 1.25H6v5A1.25 1.25 0 0 0 7.25 31h17.5A1.25 1.25 0 0 0 26 29.75v-5h3.75A1.25 1.25 0 0 0 31 23.5V12.25a3.75 3.75 0 0 0-3.75-3.75zm-3.75 20h-15V17.25h15V28.5z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-message {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.385 20.385a1 1 0 0 0 1 1h2.304a1 1 0 0 0 1-1v-2.308a1 1 0 0 1 1-1h2.308a1 1 0 0 1 1 1v4.461a1 1 0 0 1-1 1h-2.308a1 1 0 0 0-1 1v.154a1 1 0 0 1-1 1h-2.304a1 1 0 0 1-1-1v-.154a1 1 0 0 0-1-1h-2.308a1 1 0 0 1-1-1v-4.461a1 1 0 0 1 1-1h2.308a1 1 0 0 1 1 1v2.308zM2 18.077a1 1 0 0 1 1-1h10.923a1 1 0 0 1 1 1V29a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V18.077zm5.308 3.308a1 1 0 0 0-1 1v2.307a1 1 0 0 0 1 1h2.307a1 1 0 0 0 1-1v-2.307a1 1 0 0 0-1-1H7.308zM2 3a1 1 0 0 1 1-1h10.923a1 1 0 0 1 1 1v10.93a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3zm5.308 3.308a1 1 0 0 0-1 1v2.307a1 1 0 0 0 1 1h2.307a1 1 0 0 0 1-1V7.308a1 1 0 0 0-1-1H7.308zM17.077 3a1 1 0 0 1 1-1H29a1 1 0 0 1 1 1v10.93a1 1 0 0 1-1 1H18.077a1 1 0 0 1-1-1V3zm5.308 3.308a1 1 0 0 0-1 1v2.307a1 1 0 0 0 1 1h2.304a1 1 0 0 0 1-1V7.308a1 1 0 0 0-1-1h-2.304zm3.304 20.384a1 1 0 0 1 1-1h2.308a1 1 0 0 1 1 1V29a1 1 0 0 1-1 1h-2.308a1 1 0 0 1-1-1v-2.308zm-8.612 0a1 1 0 0 1 1-1h2.308a1 1 0 0 1 1 1V29a1 1 0 0 1-1 1h-2.308a1 1 0 0 1-1-1v-2.308z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-batch {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.714 10.429H3V4.857C3 3.832 3.832 3 4.857 3h5.572v3.714H6.714v3.715zM29 10.429h-3.714V6.714H21.57V3h5.572C28.169 3 29 3.832 29 4.857v5.572zM27.143 29H21.57v-3.714h3.715V21.57H29v5.572A1.857 1.857 0 0 1 27.143 29zM10.429 29H4.857A1.857 1.857 0 0 1 3 27.143V21.57h3.714v3.715h3.715V29zM30.857 14.143H1.143v3.714h29.714v-3.714z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

.frame-icons .icon-language {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.756 28.13a8.718 8.718 0 0 1-8.708-8.709 1.244 1.244 0 0 1 2.488 0 6.227 6.227 0 0 0 6.22 6.22 1.244 1.244 0 0 1 0 2.488zM7.292 2.005a6.227 6.227 0 0 0-6.22 6.22c0 3.125 4.469 7.518 5.364 8.367a1.244 1.244 0 0 0 1.712 0c.896-.85 5.364-5.242 5.364-8.367a6.228 6.228 0 0 0-6.22-6.22zm0 8.708a2.488 2.488 0 1 1 0-4.975 2.488 2.488 0 0 1 0 4.975zM22.22 8.225a8.718 8.718 0 0 0-8.708 8.708c0 4.496 7.015 11.86 7.815 12.689a1.245 1.245 0 0 0 1.786 0c.8-.83 7.815-8.193 7.815-12.689a8.718 8.718 0 0 0-8.708-8.708zm0 12.44a3.732 3.732 0 1 1 0-7.463 3.732 3.732 0 0 1 0 7.463z' fill='%23A5A9B2'/%3E%3C/svg%3E");
}

@media screen and (max-width: 768px) {
  .section.products .product {
    margin-bottom: 22px;
  }
  .why .trait {
    margin-bottom: 24px;
  }
}
