html{
  min-width: 1024px;  
}

body{
  width: 100%;
  background: #F6F9FC;
	font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 16px;
}

pre,input,select,textarea{
  font-family: consolas, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

a.fullsizelink {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

ul{
	margin: 0;
	padding: 0;
}

.container{
	width: 1024px;
	margin: 0 auto;
}

.clear::after{
	content: "";
	display: block;
	float: none;
	clear: both;
}

.column{
  box-sizing: border-box;
}

.btn {
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  display: inline-block;
  padding: 6px 10px;
  white-space: nowrap;
  border-radius: 4px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #4893ff;
  background-color: transparent;
  color: #4893FF;  
  transition: all 0.3s;
}

.btn.solid{
	border: 2px solid #4893ff;
  background-color: #4893ff;
  color: #fff; 
}

.btn:hover{
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.action .btn{
	font-size: 18px;
	padding: 10px 26px;
	margin-right: 24px;
}

.shadow{
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0855);
	transition: .3s all;
}

.shadow:hover{
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.section{
	width: 100%;
	padding: 40px 0;
}

strong{
	color: #35AFFB;
}

.section:nth-child(odd){
	background: #fff;
}
.section .chtitle{
	font-size: 24px;
	margin: 0;
	margin-bottom: 40px;
}

.section.header{
	background: transparent;
}

.header{
	padding: 30px 0;
	height: 64px;
}

.header .logo{
	float: left;
}

.header .logo img{
	height: 52px;
}

.header .nav{
	float: right;
	list-style: none;
	margin: 0;
}

.header .nav .more{
	float: left;
}

.header .nav a{
	color: inherit;
}

.header .nav li{
	float: left;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 6px;
  font-weight: bold;
  color: #444;
}

.header .nav li:hover{
	background-color: #fff;
}

.header .nav li.app{
	background-color: #efefef;
}

.intro{
	padding-top: 0;
	padding-bottom: 60px;
}
.intro h1{
	font-size: 32px;
	padding-bottom: 10px;
}
.intro p{
	font-size: 16px;
	line-height: 28px;
	color: #444;
}
.intro .hello{
	padding: 15px 0;
}
.intro .hello p{
	font-size: 20px;
}

.footer .line{
	padding: 16px 0;
}

.footer .line h3{
	padding-bottom: 10px;
}

.footer ul li{
	list-style: none;
	float: left;
	padding-right: 30px;
}

.footer a{
	color: inherit;
	text-decoration: none;
	transition: .3s all;
}

.footer a:hover{
	color: #3A88FD;
}

.footer .copyright{
	color: #aaa;
	font-size: 12px;
}

.footer .copyright span{
	padding-right: 10px;
}


a.btn.product{
  line-height: 36px;
  vertical-align: middle; 
  font-size: 18px;
  padding: 6px 12px;
}
a.btn.product:before{
  content: "";
  display: inline-block;
  float: left;
  margin-right: 8px;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-position: center center;
}

a.btn.product.premier{
  color: #0DAFFF;
  border-color: #0DAFFF;
}
a.btn.product.premier:before{
  background-image: url("/static/img/products/product-btn-premier.png");
}

a.btn.product.mini{
  color: #6761A3;
  border-color: #6761A3;
}
a.btn.product.mini:before{
  background-image: url("/static/img/products/product-btn-mini.png");
}

a.btn.product.service{
  color: #4EB027;
  border-color: #4EB027;
}
a.btn.product.service:before{
  background-image: url("/static/img/products/product-btn-service.png");
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  html{
    min-width: auto;    
  }
	.header{
		padding: 0;
		padding-top: 30px;
		height: auto;
	}
	.header .more{
		display: none;
	}
	.section{
		padding: 30px 0;
	}
	.container{
		width: 100%;
    padding: 0 4%;
	}
	.section .fbox{
		display: block;
	}
	.footer .line{
		padding: 0;
		width: 50%;
		float: left;
	}
	.footer .copyright{
		float: none;
		width: 100%;
		margin-top: 30px;
	}
	.footer ul li{
		float: none;
		padding-right: 0;
		padding: 5px 0;
		margin-bottom: 6px;
	}
}