* {
  box-sizing: border-box;
}

html{
  min-width: 1024px;  
}

body{
  width: 100%;
	font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}

pre,input,select,textarea{
  font-family: consolas, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

a.fullsizelink {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

ul{
	margin: 0;
	padding: 0;
}

.container{
	width: 1012px;
	margin: 0 auto;
}

.clear::after{
	content: "";
	display: block;
	float: none;
	clear: both;
}

.column{
  box-sizing: border-box;
}

.text-color-theme {
  color: #176BE8;
}

.text-color-green {
  color: #2AB751;
}

.btn {
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  display: inline-block;
  padding: 6px 10px;
  white-space: nowrap;
  border-radius: 4px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #176BE8;
  background-color: transparent;
  color: #176BE8;
  transition: all 0.3s;
}

.btn.large {
  padding: 10px 32px;
}

.btn.white {
  color: #fff;
  border: 2px solid #fff;
}

.green-btn-box .btn,
.btn.green {
  color: #2AB751;
  border: 2px solid #2AB751;
}

.black-btn-box .btn,
.btn.black {
  color: #0C0C0C;
  border: 2px solid #0C0C0C;
}

.btn.solid {
  border: 2px solid #176BE8;
  background-color: #176BE8;
  color: #fff; 
}

.green-btn-box .btn.solid,
.btn.solid.green {
  border: 2px solid #2AB751;
  background-color: #2AB751;
}

.black-btn-box .btn.solid,
.btn.solid.black {
  border: 2px solid #0C0C0C;
  background-color: #0C0C0C;
}

.btn:hover{
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.action .btn{
	font-size: 18px;
	padding: 10px 26px;
	margin-right: 24px;
}

.shadow{
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0855);
	transition: .3s all;
}

.shadow:hover{
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.section{
	width: 100%;
	padding: 40px 0;
  background: #F6F9FC;
}

strong{
	color: #35AFFB;
}

.section.white-bg {
	background: #fff;
}

.section.gray-bg {
	background: #f0f0f0;
}

.section .chtitle{
	font-size: 24px;
	margin: 0;
	margin-bottom: 40px;
}

.inmini .header, .inmini .footer{
  display: none;
}

.header{
  background: #fff;
  padding: 20px 0 22px;
  border-bottom: 1px solid #eee;
}

.header .logo{
  float: left;
  line-height: 0;
}

.header .logo img{
	height: 42px;
}

.header .nav{
	float: right;
	list-style: none;
  margin: 0;
  line-height: 0;
}

.header .main-nav{
  float: left;
  margin-left: 24px;
}

.header .nav .more{
  float: left;
  margin-right: 24px;
}

.header .nav a{
  color: inherit;
  display: inline-block;
}

.header .nav li{
	float: left;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 6px;
  font-weight: bold;
  color: #444;
  line-height: 22px;
}

.header .nav li:hover{
	background-color: #fff;
}

.header .nav li.app{
	background-color: #efefef;
}

.intro{
	padding-top: 0;
	padding-bottom: 60px;
}
.intro h1{
  font-size: 42px;
}
.intro p{
	font-size: 16px;
	line-height: 28px;
	color: #444;
}
.intro .hello{
	padding: 15px 0;
}
.intro .hello p{
	font-size: 20px;
}

.footer .line{
	padding: 16px 0;
}

.footer .line h3{
	padding-bottom: 10px;
}

.footer ul li{
	list-style: none;
	float: left;
	padding-right: 30px;
}

.footer a{
	color: inherit;
	text-decoration: none;
	transition: .3s all;
}

.footer a:hover{
	color: #3A88FD;
}

.footer .copyright{
	color: #aaa;
	font-size: 12px;
}

.footer .copyright span{
	padding-right: 10px;
}


a.btn.product{
  line-height: 36px;
  vertical-align: middle; 
  font-size: 18px;
  padding: 4px 12px;
  transition: .3s all;
  max-width: 300px;
  overflow: hidden;
}
a.btn.product:before{
  content: "";
  float: left;
  margin-right: 6px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
  margin-top: 3px;
}

a.btn.std{
  color: #0DAFFF;
  border-color: #0DAFFF;
}
a.btn.product.std:before{
  background-image: url("/img/product/product-std.png");
}

a.btn.premier{
  color: #d67735;
  border-color: #ffa669;
}
a.btn.product.premier:before{
  background-image: url("/img/product/product-prime.png");
}

a.btn.mini{
  color: #6761A3;
  border-color: #6761A3;
}
a.btn.product.mini:before{
  background-image: url("/img/product/product-mini.png");
}

a.btn.wechat{
  color: #4EB027;
  border-color: #4EB027;
}
a.btn.product.wechat:before{
  background-image: url("/img/product/product-wechat.png");
}

a.btn.product.enterprise:before{
  background-image: url("/img/product/product-enterprise.png");
}

.fbox{
  display: flex;
}

.events {}

.events a {
  color: inherit;
  text-decoration: none;
}

.events .event {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 12px;
}

.events .event .event-poster {
  width: 100%;
  height: auto;
  display: block;
}

.events .event .content {
  box-sizing: border-box;
  padding: 14px 20px;
}

.events .event h4 {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}

.events .event ul li {
  list-style: none;
  float: left;
  line-height: 17px;
  padding-right: 16px;
  color: #666;
}

.events .event .meta {
  margin-top: 6px;
  font-size: 14px;
}

.events .event .icon {
  float: left;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.events .more-events {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #666;
  width: 100%;
  text-align: center;
  background-color: #ededed;
  border-radius: 6px;
  transition: .3s all;
  margin-top: 12px;
}

.events .more-events:hover {
  color: #282828;
}

.logowall {
  text-align: center;
}

.logowall * {
  box-sizing: border-box;
}

.logowall .column {
  text-align: left;
  padding: 0 7px;
}

.logowall .column img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  html{
    min-width: 0;    
  }
	.header{
		height: auto;
  }
  .header .nav{
    font-size: 12px;
  }
  .header .logo img{
    height: 42px;
    margin-top: 5px;
  }
  .section .chtitle{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .intro h1{
    margin-top: 0;
  }
	.header .more{
		display: none;
	}
	.section{
		padding: 20px 0;
	}
	.container{
		width: 100%;
    padding: 0 4%;
	}
	.footer .line{
		padding: 0;
		width: 50%;
		float: left;
	}
	.footer .copyright{
		float: none;
		width: 100%;
		margin-top: 30px;
	}
	.footer ul li{
		float: none;
		padding-right: 0;
		padding: 5px 0;
		margin-bottom: 6px;
	}
}



.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
}

.dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
    display: block;
}

.dropdown.is-right .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown.is-up .dropdown-menu {
    bottom: 100%;
    padding-bottom: 4px;
    padding-top: unset;
    top: auto;
}

.dropdown-menu {
    display: none;
    left: 0;
    min-width: 100px;
    padding-top: 4px;
    position: absolute;
    top: 32px;
    line-height: 0;
    z-index: 20;
}

.dropdown-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.dropdown-item {
    color: #666;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
}

a.dropdown-item {
    padding-right: 3rem;
    white-space: nowrap;
        text-decoration: none;
    width: 100%;
}

a.dropdown-item:hover {
    background-color: #f4f4f4;
    color: #333;
}

a.dropdown-item.is-active {
        background-color: #4893ff;
    color: #fff;
}

.dropdown-divider {
    background-color: #eee;
    border: none;
    display: block;
    height: 1px;
    margin: 0.5rem 0;
}

.is-hoverable {
  cursor: pointer;
}

.is-hoverable > a li:hover{
  background: none !important;
}

  .price-box{
    background: #1A8CFF;
    border-radius: 6px;
    color: #fff;
    text-align: center;
  }
  .price-box .head{
    background: #0066CC;
    height: 54px;
    line-height: 54px;
    color: #fff;
    border-radius: 6px 6px 0 0;
    font-size: 20px;
  }
  .price-box .body{
    padding: 12px 24px;
  }
  .price-box .price{
    color: #eee;
    font-size: 22px;
    font-weight: bold;
  }
  .price-box .value{
    font-size: 40px;
    margin: 0 4px;
    color: #fff;
  }
  .price-box .btn{
    width: 100%;
    color: #fff;
    line-height: 28px;
    margin: 24px 0 12px;
    border: 2px solid rgba(255, 255, 255, 0.7);
  }
  .price-box.gray{
    background: #32AAD1;
  }
  .price-box.gray .head{
    background: #1A95BD;
  }

  .price-box.yellow{
    background: #DB802E;
  }
  .price-box.yellow .head{
    background: #C76C1C;
  }
  .compare .product .promotion, .price-box .promotion{
    margin: 3px 0 6px;
    text-align: center;
  }
  .compare .product .promotion .money, .price-box .promotion .money {
    text-decoration: line-through;
    font-size: 20px;
  }
  .compare .product .promotion .discount, .price-box .promotion .discount {
    margin-left: 8px;
    display: inline-block;
    background: #ed4343;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 6px;
    font-weight: bold;
    vertical-align: top;
    line-height: 20px;
    margin-top: 4px;
  }
  .price-box .pre-year{
    margin-left: 6px;
  }

  #ib-content {
    display: none;
  }


.advisory {
  display: flex;
}

.advisory-contact,
.advisory-form {
  width: 100%;
}

.advisory-form {
  border-left: 1px solid #efefef;
  padding-left: 3rem;
}

.advisory-form form input {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 12px 16px;
}

.outline-link-white {
  border: 1.4px solid #fff;
  border-radius: 4px;
  padding: 4px 8px;
}

.border-t.border-gray-600 {
  border-top: 1px solid #efefef;
}

@media screen and (max-width: 768px) {
  .advisory {
    display: block;
  }
  .advisory-contact,
  .advisory-form {
    width: 100%;
  }
  .advisory-form {
    border-left: none;
    border-top: 1px solid #efefef;
    padding-left: 0;
    padding-top: 2rem;
    margin-top: 2rem;
  }
}

.title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #666;
}

.title + .subtitle {
  margin-top: 12px;
}

.center-shadow {
  box-shadow: 0 0 24px rgba(0, 0, 0, .05);
}

.bg-blue-geo {
  height: 240px;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='246' viewBox='0 0 1920 246' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F6FAFE' d='M0 0h1920v246H0z'/%3E%3Ccircle opacity='.28' cx='487.526' cy='263.218' r='60.5' transform='rotate(-178.349 487.526 263.218)' fill='url(%23paint0_linear)'/%3E%3Ccircle opacity='.28' cx='1631.1' cy='200.718' r='136.761' transform='rotate(-124.383 1631.1 200.718)' fill='url(%23paint1_linear)'/%3E%3Cpath opacity='.28' d='M362.091 91.132c4.621 8.028.31 18.251-8.664 20.547L174.33 157.485c-11.214 2.869-20.866-8.337-16.369-19.003l86.882-206.026c4.498-10.666 19.26-11.576 25.034-1.544l92.214 160.22z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='421.91' y1='183.28' x2='567.458' y2='254.913' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.076' stop-color='%23EFF6FE' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%23A2CEFA' stop-opacity='.65'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='1482.77' y1='20.016' x2='1811.79' y2='181.946' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.076' stop-color='%23EFF6FE' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%23A2CEFA' stop-opacity='.65'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='399.808' y1='22' x2='204.354' y2='154.898' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.076' stop-color='%23E0EAFC' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%2383BFFB' stop-opacity='.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.bg-blue-geo h2 {
  color: #487EF0;
}

.bg-green-geo {
  height: 240px;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='246' viewBox='0 0 1920 246' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ECF8F1' d='M0 0h1920v246H0z'/%3E%3Ccircle opacity='.7' cx='487.526' cy='263.218' r='60.5' transform='rotate(-178.349 487.526 263.218)' fill='url(%23paint0_linear)'/%3E%3Ccircle opacity='.7' cx='1631.1' cy='200.718' r='136.761' transform='rotate(-124.383 1631.1 200.718)' fill='url(%23paint1_linear)'/%3E%3Cpath opacity='.7' d='M362.091 91.132c4.621 8.028.31 18.251-8.664 20.547L174.33 157.485c-11.214 2.869-20.866-8.337-16.369-19.003l86.882-206.026c4.498-10.666 19.26-11.576 25.034-1.544l92.214 160.22z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='528.884' y1='186.411' x2='412.846' y2='310.247' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.076' stop-color='%23A2E3B4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23DAF5E1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='1724.59' y1='27.096' x2='1462.28' y2='307.028' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.076' stop-color='%23A2E3B4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23DAF5E1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='356.993' y1='204.953' x2='182.025' y2='-40.693' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.076' stop-color='%23A2E3B4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23DAF5E1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
}

.bg-green-geo h2 {
  color: #2AB751;
}

.border-left-white {
  border-left: 1px solid #fff;
}

.border-left-black {
  border-left: 1px solid #000;
}

.product-icons [class*="icon-"] {
  display: inline-block;
  padding-left: 36px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 28px;
}

.product-icons .icon-tickets {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.78 7.949c-.197 0-.233-.28-.043-.33L19.22 3.214a.84.84 0 0 1 1.012.54l1.049 3.083a.84.84 0 0 1-.795 1.11H2.78z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.18 9.629a1.68 1.68 0 0 0-1.68 1.68v9.24c0 .928.752 1.68 1.68 1.68h17.64a1.68 1.68 0 0 0 1.68-1.68v-9.24a1.68 1.68 0 0 0-1.68-1.68H3.18zm3.36 3.043a.84.84 0 0 0 0 1.68h10.92a.84.84 0 0 0 0-1.68H6.54z' fill='%23fff'/%3E%3C/svg%3E");
}

.product-icons .icon-pin {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.667.974c-1.532 0-3.083.5-4.363 1.42 3.373 1.143 6.196 4.2 6.196 8.663 0 2.461-1.501 5.247-3.177 7.597.332.357.585.617.693.727a.917.917 0 0 0 1.302 0C17.002 18.69 23 12.524 23 8.307c0-4.59-3.728-7.333-7.333-7.333z' fill='%23fff'/%3E%3Cpath d='M8.333 3.724C4.728 3.724 1 6.467 1 11.057c0 4.217 5.999 10.383 6.683 11.074a.917.917 0 0 0 1.301 0c.684-.69 6.683-6.857 6.683-11.074 0-4.59-3.728-7.333-7.334-7.333zm0 9.166a1.833 1.833 0 1 1 0-3.665 1.833 1.833 0 0 1 0 3.665z' fill='%23fff'/%3E%3C/svg%3E");
}

.product-icons .icon-ticket {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1c1.103 0 2 .897 2 2s-.897 2-2 2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1c-1.103 0-2-.897-2-2s.897-2 2-2zm-6 5H9v-2h10v2zm0-4H9v-2h10v2z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-layout {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 10H2V4a1 1 0 0 1 1-1h22a1 1 0 0 1 1 1v6zM9 25H3a1 1 0 0 1-1-1V12h7v13zM25 25H11V12h15v12a1 1 0 0 1-1 1z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-checkin {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 2.586l-5 5-2-2L9.586 7 13 10.414 19.414 4 18 2.586zM11.884 21.499C11.023 20.815 9.563 20 7.5 20s-3.523.815-4.383 1.498A2.96 2.96 0 0 0 2 23.836V26h11v-2.164c0-.924-.407-1.775-1.116-2.337zM7.5 19a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM24.884 21.499C24.023 20.815 22.563 20 20.5 20s-3.523.815-4.383 1.498A2.96 2.96 0 0 0 15 23.836V26h11v-2.164c0-.924-.407-1.775-1.116-2.337zM20.5 19a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-chart {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 20h5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1zM16 20h5a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1h-5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1zM26 24v-2H2v2h24z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-form {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 4H3a.945.945 0 0 0-1 1v3a.945.945 0 0 0 1 1h14a.945.945 0 0 0 1-1V5a.946.946 0 0 0-1-1zM17 12H3a.944.944 0 0 0-1 1v3a.945.945 0 0 0 1 1h14a.945.945 0 0 0 1-1v-3a.946.946 0 0 0-1-1zM17 20H3a.944.944 0 0 0-1 1v3a.945.945 0 0 0 1 1h14a.945.945 0 0 0 1-1v-3a.946.946 0 0 0-1-1zM25 4h-3a.945.945 0 0 0-1 1v19a.946.946 0 0 0 1 1h3a.945.945 0 0 0 1-1V5a.944.944 0 0 0-1-1z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-bulb {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 13H2v2h3v-2zM6.22 4.807L4.808 6.222l2.12 2.121 1.415-1.414-2.121-2.122zM15 2h-2v3h2V2zM21.779 4.807L19.657 6.93l1.414 1.414 2.122-2.121-1.415-1.415zM26 13h-3v2h3v-2zM14 7c-3.86 0-7 3.141-7 7a7.011 7.011 0 0 0 4 6.319V25h6v-4.681A7.01 7.01 0 0 0 21 14c0-3.859-3.14-7-7-7z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-order {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 7H14.5l-3-4H3a1 1 0 0 0-1 1v18a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V8a1 1 0 0 0-1-1z' fill='%23487EF0'/%3E%3Cpath d='M13 17.586l-3-3L8.586 16l4.707 4.707a1 1 0 0 0 1.414 0L19.414 16 18 14.586l-3 3V10h-2v7.586z' fill='%23fff'/%3E%3C/svg%3E");
}

.product-icons .icon-refund {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2C7.383 2 2 7.383 2 14s5.383 12 12 12 12-5.383 12-12S20.617 2 14 2zm4 11v2h-3v1h3v2h-3v3h-2v-3h-3v-2h3v-1h-3v-2h1.92L8.595 8.844l1.562-1.25L14 12.399l3.844-4.805 1.562 1.25L16.08 13H18z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-useage {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 14a7.995 7.995 0 0 1 4.317-7.097l-3.61-3.61A.997.997 0 0 0 12 3H3a1 1 0 0 0-1 1v9c0 .265.105.52.293.707l11 11a.997.997 0 0 0 1.414 0l3.035-3.035A8 8 0 0 1 12 14zm-4-3a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 11z' fill='%23487EF0'/%3E%3Cpath d='M20 8a6 6 0 1 0 0 12 6 6 0 0 0 0-12zm4 7h-5v-5h2v3h3v2z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-scene {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='%23487EF0'%3E%3Cpath d='M9.563 24.23H22.5a.562.562 0 0 0 .461-.24l3.938-5.625a.562.562 0 0 0 0-.645l-3.938-5.625a.562.562 0 0 0-.46-.24H9.562a1.687 1.687 0 0 0-1.688 1.687v9a1.688 1.688 0 0 0 1.688 1.688z'/%3E%3Cpath d='M3.22 16.376a1.563 1.563 0 0 0 1.28.666h12.938a2.688 2.688 0 0 0 2.687-2.688v-9a2.688 2.688 0 0 0-2.687-2.688H4.499a1.563 1.563 0 0 0-1.28.668v.001L-.718 8.96a1.563 1.563 0 0 0 0 1.791l3.938 5.626z' stroke='%23fff' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h28v28H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.product-icons .icon-entrance {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.8 19.345V21.8a2 2 0 0 0 2 2h17a2 2 0 0 0 2-2V6.2a2 2 0 0 0-2-2h-17a2 2 0 0 0-2 2v2.455' fill='%23487EF0'/%3E%3Cpath d='M1 13.01c0-.302.254-.546.567-.546h8.052a.627.627 0 0 0 .638-.615V9.616c0-.521.631-.806 1.047-.472l5.466 4.384a.6.6 0 0 1 0 .944l-5.466 4.384c-.416.334-1.047.05-1.047-.472v-2.233a.627.627 0 0 0-.638-.615H1.567A.556.556 0 0 1 1 14.991v-1.982z' fill='%23fff'/%3E%3C/svg%3E");
}

.product-icons .icon-medium {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.793 3c.24 0 .436.206.436.46v6.543c0 .286.22.518.491.518h1.787c.417 0 .645.513.378.851l-3.507 4.441a.475.475 0 0 1-.756 0l-3.507-4.44c-.267-.339-.04-.852.378-.852h1.786a.506.506 0 0 0 .492-.518V3.46c0-.254.195-.46.436-.46h1.586zM20.59 3c.331 0 .6.254.6.567v8.052c0 .352.302.638.676.638h2.457c.573 0 .886.631.519 1.047l-4.823 5.466a.702.702 0 0 1-1.038 0l-4.823-5.466c-.367-.416-.054-1.047.52-1.047h2.456c.373 0 .676-.286.676-.638V3.567c0-.313.269-.567.6-.567h2.18z' fill='%23487EF0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.2 22v1.3A2.8 2.8 0 0 0 4 26.1h20a2.8 2.8 0 0 0 2.8-2.8V22H1.2z' fill='%23487EF0'/%3E%3C/svg%3E");
}
.product-icons .icon-code {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.703 12.176a3 3 0 0 1-1.845-4.454c.482-.804.337-1.497-.142-1.974l-.465-.465c-.477-.477-1.17-.622-1.974-.14a3 3 0 0 1-4.453-1.845C15.598 2.386 15.004 2 14.329 2h-.658c-.675 0-1.267.387-1.495 1.297a3 3 0 0 1-4.454 1.845c-.804-.482-1.498-.337-1.975.14l-.465.465c-.477.477-.622 1.171-.14 1.976a3 3 0 0 1-1.845 4.453C2.39 12.402 2 12.995 2 13.671v.658c0 .675.387 1.267 1.297 1.495a3 3 0 0 1 1.845 4.454c-.482.803-.337 1.497.141 1.974l.465.465c.479.478 1.173.622 1.974.14a3 3 0 0 1 4.454 1.846c.226.91.82 1.297 1.495 1.297h.658c.675 0 1.267-.387 1.495-1.297a3 3 0 0 1 4.454-1.845c.802.481 1.495.337 1.974-.142l.465-.465c.477-.477.622-1.17.14-1.974a3 3 0 0 1 1.846-4.453c.91-.226 1.297-.82 1.297-1.495v-.658c0-.676-.39-1.268-1.297-1.495zM14 18.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-writeoff {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='12' fill='%23487EF0'/%3E%3Cpath d='M20.6 14.606c0 3.09-2.774 5.594-6.195 5.594-2.332 0-4.272-1.311-5.309-3.197' stroke='%23fff' stroke-width='1.783' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.097 20.2v-3.197h3.54M8.212 13.807c0-3.09 2.773-5.595 6.194-5.595 2.332 0 4.272 1.312 5.309 3.197' stroke='%23fff' stroke-width='1.783' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.715 8.212v3.197h-3.54' stroke='%23fff' stroke-width='1.783' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.product-icons .icon-coupon {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.707 13.293L23 10.586V6a1 1 0 0 0-1-1h-4.586l-2.707-2.707a.999.999 0 0 0-1.414 0L10.586 5H6a1 1 0 0 0-1 1v4.586l-2.707 2.707a.999.999 0 0 0 0 1.414L5 17.414V22a1 1 0 0 0 1 1h4.586l2.707 2.707a.997.997 0 0 0 1.414 0L17.414 23H22a1 1 0 0 0 1-1v-4.586l2.707-2.707a.999.999 0 0 0 0-1.414zM10.5 9a1.5 1.5 0 1 1 0 3.001A1.5 1.5 0 0 1 10.5 9zm7 10a1.5 1.5 0 1 1 .001-3.001 1.5 1.5 0 0 1 0 3.001zm-7.5.414L8.586 18 18 8.586 19.414 10 10 19.414z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-data {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M1 25.267h26' stroke='%23487EF0' stroke-width='2.2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.6 2.733h-3.2a1 1 0 0 0-1 1v15.334a1 1 0 0 0 1 1h3.2a1 1 0 0 0 1-1V3.733a1 1 0 0 0-1-1zM5.2 11.4H2a1 1 0 0 0-1 1v6.667a1 1 0 0 0 1 1h3.2a1 1 0 0 0 1-1V12.4a1 1 0 0 0-1-1zM26 5.867h-3.2a1 1 0 0 0-1 1v12.2a1 1 0 0 0 1 1H26a1 1 0 0 0 1-1v-12.2a1 1 0 0 0-1-1z' fill='%23487EF0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h28v28H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.product-icons .icon-ticketing {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.458 19.408c-.183.092-.275.092-.458.092s-.275 0-.458-.092L3 13.725v10.358c0 .55.367.917.917.917h20.166c.55 0 .917-.367.917-.917V13.725l-10.542 5.683z' fill='%23487EF0'/%3E%3Cpath d='M8.5 14.55V4.833h11V14.55l4.675-2.567-2.842-2.108V3.917c0-.55-.366-.917-.916-.917H7.583c-.55 0-.916.367-.916.917v6.05l-2.842 2.108L8.5 14.55z' fill='%23487EF0'/%3E%3Cpath d='M17.667 7.583h-7.334v1.834h7.334V7.583zM17.667 11.25h-7.334v1.833h7.334V11.25z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.product-icons .icon-child {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.125 12.167A4.125 4.125 0 0 1 14 8.042v-.917a4.125 4.125 0 0 1 8.25 0v.917a4.125 4.125 0 0 1-4.125 4.125zM9.417 17.667A3.667 3.667 0 0 1 5.75 14v-.917a3.667 3.667 0 0 1 7.333 0V14a3.667 3.667 0 0 1-3.666 3.667zM20.417 13.083h-4.584c-.314 0-.62.032-.916.093V14c0 1.235-.415 2.37-1.106 3.287a6.424 6.424 0 0 1 3.856 5.88V25h6.416c.506 0 .917-.41.917-.917v-6.416a4.584 4.584 0 0 0-4.583-4.584zM14.917 25h-11A.917.917 0 0 1 3 24.083v-.916a4.584 4.584 0 0 1 4.583-4.584h3.667a4.584 4.584 0 0 1 4.583 4.584v.916c0 .506-.41.917-.916.917z' fill='%23487EF0'/%3E%3C/svg%3E");
}

.justify-img-right {
  justify-content: flex-end;
}
.justify-img-left {
  justify-content: flex-start;
}
.justify-img-right img,
.justify-img-left img {
  max-width: 92%;
}

.case-list {
  border: 1px solid #efefef;
  border-radius: 12px;
  height: 400px;
  overflow: hidden;
}

.case-list .list-item {
  display: none;
}

.case-list .list-item.active {
  display: flex;
}

.case-list .list-item .item-avatar {
  flex-grow: 1;
  width: 40%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.case-list .list-item .item-main {
  flex-grow: 1;
  display: flex;
  width: 60%;
}

.case-list .list-item .item-main .main-prev,
.case-list .list-item .item-main .main-next {
  width: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
  opacity: .5;
  user-select: none;
}

.case-list .list-item .item-main .main-prev:hover,
.case-list .list-item .item-main .main-next:hover {
  opacity: .7;
}

.case-list .list-item .item-main .main-prev:active,
.case-list .list-item .item-main .main-next:active {
  opacity: 1;
}

.case-list .list-item .item-main .main-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.813 18.438L4.374 10l8.438-8.438' stroke='%238D9198' stroke-width='2.057' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.case-list .list-item .item-main .main-next {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.188 1.563L13.624 10l-8.438 8.438' stroke='%238D9198' stroke-width='2.057' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.case-list.single .list-item .item-main .main-prev,
.case-list.single .list-item .item-main .main-next {
  background: none;
  cursor: default;
}

.case-list .list-item .item-main .main-detail {
  width: 80%;
}

.case-list .list-item .item-main .main-detail .detail-title {
  display: flex;
  align-items: center;
  margin: 4rem 0 3rem 0;
}

.case-list .list-item .item-main .main-detail .detail-title img {
  margin-right: 1rem;
  width: 60px;
  height: 60px;
}

.case-list .list-item .item-main .main-detail .detail-title span {
  font-size: 24px;
  font-weight: 600;
}

.case-list .list-item .item-main .main-detail .detail-description {
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  .case-list {
    height: auto;
  }
  .case-list .list-item {
    flex-wrap: wrap;
  }
  .case-list .list-item .item-avatar {
    width: 100%;
    height: 300px;
  }
  .case-list .list-item .item-main {
    width: 100%;
    height: auto;
  }
  .case-list .list-item .item-main .main-detail .detail-title {
    margin: 2rem 0;
  }
  .case-list .list-item .item-main .main-detail .detail-description {
    padding-bottom: 2rem;
  }

  .justify-img-right {
    justify-content: center;
  }
  .justify-img-left {
    justify-content: center;
  }
  .justify-img-right img,
  .justify-img-left img {
    max-width: 100%;
    margin-top: 1rem;
  }
}
