.contrast .product{
  border: 1px solid #DFDFDF;
  padding: 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contrast .title{
  padding: 12px;
  text-align: center;
  background-color: #F4F4F4;
  border-radius: 8px 8px 0 0;
}

.contrast .title h2{
  margin: 10px;
}

.contrast .content h2{
  text-align: center;
  font-size: 30px;
}

.contrast .content h2 span{
  font-size: .65em;
  padding-left: .35em;
}

.contrast .content ul{
  padding: 0 35px 30px 65px;
  min-height: 205px;
}

.contrast .content ul li{
  position: relative;
  list-style: none;
  padding: 8px 0;
  font-size: 15px;
}

.contrast .content ul li:before{
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  display: block;
  width: 17px;
  height: 13px;
  margin-top: -7px;
  background-image: url("/static/img/icon/check.png");
}

.contrast .content ul li.gray:before{
  background-image: url("/static/img/icon/check_gray.png");
}

.quota .group{
  border: 1px solid #CCCCCC;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.quota .group h3{
  margin: 0;
  margin-top: 10px;
}

.quota .group.calc{
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
}

.quota .group.calc .line{
  padding: 35px 20px;
}

.quota .group.calc select{
  background-color: #0DAFFF;
  border: 2px solid #06A3F1;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 0 10px;
  font-size: 22px;
}

.quota .group.calc select:focus{
  outline: none;
}

.quota .group.calc .answer span,
.quota .group.calc .answer .products{
  display: inline-block;
  margin: 0 10px;
}

.quota .group.calc .answer .products .product{
  display: none;
}

.quota .group.calc .answer span.clac_save{
  color: #0DAFFF;
  font-size: 26px;
  vertical-align: baseline;
  font-weight: bold;
}

.quota .group.byus{
  border-color: #0DAFFF;
}

.quota .group.byus h3{
  color: #0DAFFF;
}

.quota .group.byother{
  border-color: #27AE60;
}

.quota .group.byother h3{
  color: #27AE60;
}

.quota .group .line{
  padding: 15px 30px;
}

.quota .group .line.hr{
  border-bottom: 1px dashed #ddd;
}

.quota .group .line .left{
  float: left;
  width: 50%;
}

.quota .group .line .right{
  float: right;
  width: 50%;
  text-align: right;
  font-size: 22px;
  line-height: 38px;
  font-weight: bold;
}

.quota .group .line .right.red{
  color: #EE0000;
}

.quota .group .line .right.green{
  color: #219653;
}

.quota .group .line .left p,
.quota .group .line .left pre{
  margin: 0;
}

.quota .group .line .left pre{
  padding-top: 5px;
  font-size: 13px;
  color: #888;
}

.quota .group .line.total .left p{
  line-height: 38px;
  font-size: 18px;
}

.quota .group .line.total .right{
  font-size: 26px;
}

.quota .group-title{
  font-size: 22px;
}

.quota .item-title{
  margin: 3px 0;
  font-size: 20px;
}

.quota .total .item-title{
  font-size: 22px;
  line-height: 38px;
}

.function .item{
  position: relative;
  padding: 6px 25px;
  margin-bottom: 20px;
  background: #F6F9FC;
  border-radius: 6px;
}

.function .item .checkbox{
  position: absolute;
  right: 20px;
  top: 25px;
  height: 56px;
  width: 90px;
}

.function .answer p{
  padding-bottom: 10px;
}

.function .answer .products a.btn{
  margin-right: 20px;
}

.help h2{
  font-size: 22px;
  margin-bottom: 40px;
}

.help a.btn{
  margin-right: 20px;
  padding: 6px 20px;
}

.help span{
  color: #4893FF;
  font-size: 25px;
  vertical-align: middle;
  margin: 0 20px;
}

.help p.small{
  padding-top: 10px;
}