.color-btn{
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  padding: 8px 32px;
}

.color-btn:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.color-btn.black{
  color: #282828;
  background: #EBEBEB;
  border-color: #333;
}

.color-btn.yellow{
  color: #d4a517;
  background: #fffbed;
  border-color: #f0c951;
}

.color-btn.blue{
  color: #478BE5;
  background: #D6F5FF;
  border-color: #56CCF2;
}

.color-btn + .color-btn{
  margin-left: 36px;
}

.column.margin {
  min-height: 1px;
}

.enterprise {
  background: #F6F9FC;
  text-align: center;
}

.enterprise .section-title{
  font-size: 28px;
  font-weight: normal;
}

.enterprise .section-desc{
  font-size: 18px;
  line-height: 1.6em;
  margin: 18px auto;
  max-width: 42em;
}

.feature-icons h4{
  font-size: 18px;
  font-weight: normal;
  margin: 12px 0;
}

.enterprise .header{
  background: #fff;
  padding: 20px 0;
  line-break: 0;
  border-bottom: 1px solid #eee;
  }

  .enterprise .header .logo img{
    height: 42px;
  }

  .enterprise .header .nav {
    margin: 0;
    line-height: 0;
  }

  .enterprise .header .nav li {
    line-height: 22px;
    color: #4E91F5;
  }

  .enterprise .header .logo {
    line-height: 0;
  }

  .enterprise .header .logo a {
    line-height: 0;
    display: inline-block;
  }

  .enterprise .header .logo h1{
    font-size: 26px;
    font-weight: normal;
    display: inline;
    line-height: 42px;
    vertical-align: top;
    margin: 0 0 0 12px;
  }


.enterprise .hero{
  background: #FAFBFC;
  border-bottom: 1px solid #eee;
  }

  .enterprise .hero .slogan h1{
    font-size: 48px;
    font-weight: normal;
  }

  .enterprise .hero .slogan h2{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 48px;
  }

  .enterprise .hero .action{
    margin-top: 48px;
    margin-bottom: 24px;
  }

.enterprise .features{
  border-bottom: 1px solid #EEE;
  }
  .enterprise .features .features-list{
    margin-top: 42px;
    border-top: 1px solid #EEE;
    padding-top: 42px;
  }
  .enterprise .features .features-list h3{
    font-size: 24px;
    font-weight: normal;
  }
  .enterprise .features .features-list p {
    font-size: 16px;
    max-width: 24em;
    margin: 12px auto 42px;
  }

.enterprise .pricing{
  border-bottom: 1px solid #EEE;
  }
  .enterprise .pricing .price-box{
    margin: 42px auto;
    max-width: 320px;
  }
  
.enterprise .contact{
  /* border-bottom: 1px solid #EEE; */
  }
  .contact-box {
    text-align: left;
    max-width: 660px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 12px 32px;
    margin: 48px auto 24px;
  }
  .contact-box h3{
    font-size: 24px;
    font-weight: normal;
  }
  .contact-box .actions{
    margin: 24px 0;
  }
  .contact-box .color-btn{
    font-size: 20px;
    padding: 12px 32px;
  }
  .contact-box .tips{
    color: #999;
    font-size: 14px;
    display: inline-block;
    margin-left: 18px;
  }
  dd{
    margin: 0;
  }
  .form-group dt{
    margin-bottom: 12px;
  }
  .form-group label{
    font-size: 18px;
    font-weight: normal;
  }
  .form-control {
    padding: 8px 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .form-group .form-control{
    width: 100%;
  }
  .form-group textarea.form-control{
    height: 120px;
    min-height: 120px;
  }

.enterprise .self-host{
  background: #E5E5E5;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  }
  .enterprise .self-host .feature-icons{
    margin: 42px 0;
  }
  .enterprise .self-host .color-btn{
    font-size: 20px;
  }

.enterprise .customers{
  border-bottom: 1px solid #EEE;
  }
  .enterprise .customers .clients{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .enterprise .customers .action{
    margin: 42px 0 24px;
  }

.enterprise .section.footer{
  background: transparent !important;
  text-align: left;
}