.why {}

.why ul {
  padding-left: 14px;
}

.why ul li {
  list-style: none;
  position: relative;
  padding: .5em 0;
  font-size: 16px;
}

.why ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -14px;
  display: block;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  border-radius: 100%;
  background-color: #35AFFB;
}

.why .trait h2 {
  font-size: 20px;
  padding: 0;
  display: inline-block;
  line-height: 72px;
  margin: 6px 12px;
  vertical-align: top;
}

.products {}
  .products .learn-more{
    float: right;
    font-size: 16px;
    padding: 6px 12px 5px;
    background: #FFF;
    color: #4893ff;
    border-radius: 4px;
    border: 1px solid;
  }
  .products .learn-more img{
    margin-right: 12px;
  }

.partners {}

.partners .fbox {
  align-items: center;
}

.partners .fbox::after {
  content: '';
  flex: auto;
}

.partners .mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .section.products .product {
    margin-bottom: 22px;
  }
  .products .columns {
    margin-bottom: 0;
  }
  .why .trait {
    margin-bottom: 24px;
  }
}