#test .block{
  margin-bottom: 20px;
}

#test .block h2{
  margin: 0;
  font-size: 20px;
  padding: .5em 0;
}


#test .block section{
  border: 1px solid #e6ebf5;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  color: #2d2f33;
  border-radius: 8px;
  padding: 10px 15px;
}

#test .block section ul{
  list-style-type: none;
  font-size: 14px;
  line-height: 30px;
}


#test .block li>span:first-child {
  width: 180px;
  color: #888888;
  display: inline-block;
}


.success {
  color: #14ac6f
}

.warn {
  color: #d3690c
}

.error {
  color: #e02023
}