.container
  .advisory.p-12.bg-white.center-shadow.rounded-lg.text-center
    .advisory-contact
      .text-2xl.font-bold 售前咨询
      p 服务顾问将为您即时解答
      a.btn 在线咨询
      .mt-8.font-bold
        span 或者致电：
         span.text-3xl 021-80370533
      p 工作日：周一至周五 9:00 至 19:00
    .advisory-form
      .text-2xl.font-bold 留下您的联系方式
      p 我们将安排服务顾问与您联系
      form
        input(placeholder="手机号")
        input(placeholder="姓名")
        a.btn.solid.w-full 预约销售顾问