.section.footer
  .container
    .clear
      .line
        h3 多会产品
        ul.clear
          li
            a(href='') 标准版
          li
            a(href='') 高级版
          li
            a(href='') 活动微信小程序
          li
            a(href='') 活动微信服务号
          li
            a(href='') 现场极速签到
          li
            a(href='') 活动现场互动
      .line
        h3 关于和帮助
        ul.clear
          li
            a(href='') 关于多会
          li
            a(href='') 品牌资源
          li
            a(href='') 使用帮助
          li
            a(href='') 客户案例
          li
            a(href='') 联系方式
          li
            a(href='') 用户协议
    .line.copyright
      p
        span 上海新小信息科技有限公司
        span 沪ICP备17014612号-2