.section.footer.white-bg
  .container
    .block.md_hidden.py-4
      .flex.items-center
        span.font-semibold 联系我们
        span.text-gray-700 （工作日 9:00 至 19:00）
      .font-semibold 021-80370533
    .clear
      .mt-6
        .mb-2.text-xl.font-semibold 多会产品
        .flex.flex-wrap
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/standard') 标准版
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/prime') 高级版
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/enterprise') 企业版
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/mini') 活动微信小程序
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/wechat') 活动微信服务号
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/checkin') 现场极速签到
      .mt-6
        .mb-2.text-xl.font-semibold 关于和帮助
        .flex.flex-wrap
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/about' target="_blank") 关于我们
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='https://docs.duohui.cn/brand/' target="_blank") 品牌资源
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/support') 帮助支持
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='/customers') 客户案例
          a.inline-block.mb-3.md_mb-0.mr-0.md_mr-6.w-1_2.sm_w-1_3.md_w-auto(href='https://docs.duohui.cn/business-term.html' target="_blank") 用户协议
    .copyright.mt-4.md_mt-12.pb-16.md_pb-10.border-t.md_border-none.pt-4.md_pt-0
        span.block.md_inline-block 上海新小信息科技有限公司
        span.block.md_inline-block 沪ICP备17014612号-2
        span.block.md_inline-block 沪公网安备 31010402004300号 <广告>

.fixed.right-0.bottom-0.left-0.p-2.pb-4.bg-white.flex.items-center.block.md_hidden(style="box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);color: #176BE8;")
  .w-1_3.pr-1
    a.btn.text-center.w-full.text-theme-blue(href="javascript:void(0)" onclick="window.$youke('open')") 联系销售
  .w-2_3.pl-1
    a.btn.text-center.w-full.solid(href="https://app.duohui.cn/signup", target="_blank") 免费试用

    script.
      (function(y,o,u,k,e){y['YoukeInstance']=k;y[k]=y[k]||function(){(y[k].e=y[k].e||[]).push(arguments)};e=o.createElement('script');e.async=1;e.src=u;o.currentScript.parentNode.insertBefore(e,o.currentScript);})(window,document,'https://static.cdn.youke.co/js/widget.js','$youke');
      $youke('load','duohui', { config: { pluginConfig: { hideLauncher: true } } });

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-7239743-22")

    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-7239743-22');