.header
  .container.clear
    .logo
      img(src='./static/img/logo.png', srcset='./static/img/logo@2x.png 2x', alt='多会')
    ul.nav.clear
      .more
        a(href='#')
          li 产品列表
        a(href='#')
          li 服务案例
        a(href='#')
          li 帮助支持
      a(href='#')
        li.app 主办方登录