.h-20.block.md_hidden
.fixed.z-10.top-0.md_relative.w-full.h-20.border-b.bg-white
  .container.h-full.flex.items-center
    .mr-8
      a(href="/"): img(src='/img/logo.png', srcset='/img/logo@2x.png 2x', alt='多会')
    .mr-4
      a(href="/1111")
        img(src="data:image/svg+xml,%3Csvg width='98' height='22' viewBox='0 0 98 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.192 7.368L1.104 8.424a57.515 57.515 0 0 1 3.008 3.792A14.133 14.133 0 0 1 .64 16.952l1.04 1.2a15.093 15.093 0 0 0 3.456-4.464 27.42 27.42 0 0 1 1.44 2.352l1.184-1.184a46.056 46.056 0 0 0-1.888-2.848c.688-1.824 1.088-3.872 1.2-6.144V4.712H1.088v1.456H5.6a20.266 20.266 0 0 1-.832 4.32 55.29 55.29 0 0 0-2.576-3.12zm5.664-2.656v1.456h.464c.128 2.384.816 4.72 2.032 6.992-.976 1.424-2.208 2.784-3.68 4.064l1.04 1.264a26.976 26.976 0 0 0 3.456-3.92c.832 1.312 1.888 2.608 3.136 3.92l1.072-1.264c-1.312-1.312-2.416-2.672-3.296-4.048 1.36-2.256 2.208-4.624 2.528-7.12V4.712H7.856zM9.68 6.168h3.504a17.167 17.167 0 0 1-1.936 5.536c-.896-1.792-1.424-3.648-1.568-5.536zm10.352-.592c-.384.416-.864.784-1.44 1.136-.576.32-1.104.544-1.616.672v1.728c1.056-.304 1.936-.784 2.624-1.44V17h1.744V5.576h-1.312zm6.851 0c-.384.416-.864.784-1.44 1.136-.576.32-1.104.544-1.616.672v1.728c1.056-.304 1.936-.784 2.624-1.44V17h1.744V5.576h-1.312zM40.28 3.864v1.6h-2.657v1.392h2.657v1.52h-3.537v1.44h8.593v-1.44h-3.52v-1.52h2.816V5.464h-2.816v-1.6h-1.536zm-3.185 7.488v1.44h4.928v3.776c0 .416-.175.64-.511.64-.577 0-1.184-.048-1.825-.112l.32 1.44h2.032c.96 0 1.457-.528 1.457-1.584v-4.16h1.696v-1.44h-1.697v-.912h-1.471v.912h-4.929zm1.36 1.92l-1.184.752c.768.896 1.392 1.728 1.856 2.48l1.2-.848c-.447-.672-1.072-1.472-1.871-2.384zm-6.016-4.704h1.168v3.936c-.976.288-1.968.528-2.96.72l.369 1.472a34.59 34.59 0 0 0 2.591-.768v4.72h1.456V13.4c.449-.16.897-.352 1.345-.544v-1.44c-.432.192-.88.368-1.344.56V8.568h1.28V7.096h-1.28v-3.2h-1.457v3.2h-.96c.065-.608.096-1.216.129-1.84l-1.377-.096a21.678 21.678 0 0 1-.816 5.28l1.328.384a25.72 25.72 0 0 0 .528-2.256zm14.768-3.744v1.28h6.384v.704h-5.024v4.784h5.024v.768c-1.824.032-3.84.048-6.048.08l.192 1.328c5.408-.144 9.36-.304 11.84-.48.305.32.577.64.833.96l1.12-.768c-.48-.544-1.136-1.184-1.968-1.888h.56V6.808h-5.025v-.704h6.384v-1.28h-6.384v-.976H53.59v.976h-6.384zm11.28 7.392c-1.008.032-2.143.08-3.392.112v-.736h3.264l-.32.208.449.416zm.193-1.744h-3.585v-.784h3.584v.784zm-5.089 0h-3.584v-.784h3.584v.784zm-3.584-1.76v-.784h3.584v.784h-3.584zm5.088-.784h3.584v.784h-3.584v-.784zm-6.544 6.32a9.43 9.43 0 0 1-1.487 3.04l1.247.8c.688-1.008 1.216-2.192 1.6-3.568l-1.36-.272zm8.08 4.144c.576 0 .992-.112 1.264-.336.288-.24.497-.96.608-2.176l-1.376-.448c-.047.752-.143 1.2-.271 1.36-.096.128-.272.208-.496.208h-3.537c-.384 0-.56-.16-.56-.464v-2.352h-1.471v2.672c0 1.024.528 1.536 1.584 1.536h4.255zm-2.111-4.608l-1.136.704c.767.72 1.375 1.376 1.823 1.968l1.136-.784c-.431-.544-1.04-1.168-1.823-1.888zm4.8.096l-1.153.72c.992 1.168 1.777 2.224 2.353 3.184l1.2-.8c-.56-.896-1.36-1.936-2.4-3.104z' fill='%23FE3642'/%3E%3Cpath d='M67 9a6 6 0 0 1 6-6h19a6 6 0 0 1 6 6v4a6 6 0 0 1-6 6H67V9z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M78.54 7.01v8.29h-1.57v-3.69h-3.63v3.69h-1.57V7.01h1.57v3.29h3.63V7.01h1.57zm5.08 8.43c-.74 0-1.396-.18-1.97-.54a3.647 3.647 0 0 1-1.34-1.51c-.32-.647-.48-1.39-.48-2.23 0-.84.16-1.583.48-2.23.32-.647.767-1.15 1.34-1.51.574-.36 1.23-.54 1.97-.54s1.397.18 1.97.54c.58.36 1.027.863 1.34 1.51.32.647.48 1.39.48 2.23 0 .84-.16 1.583-.48 2.23a3.559 3.559 0 0 1-1.34 1.51c-.573.36-1.23.54-1.97.54zm0-1.28c.434 0 .82-.123 1.16-.37.34-.253.604-.607.79-1.06.187-.46.28-.983.28-1.57 0-.593-.093-1.117-.28-1.57-.186-.453-.45-.803-.79-1.05a1.891 1.891 0 0 0-1.16-.38c-.433 0-.82.127-1.16.38-.333.247-.593.597-.78 1.05-.186.453-.28.977-.28 1.57 0 .587.094 1.11.28 1.57.187.453.447.807.78 1.06.34.247.727.37 1.16.37zm10.224-5.83h-2.18v6.97h-1.57V8.33h-2.19V7.01h5.94v1.32z' fill='%23fff'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='91' y1='3' x2='82.596' y2='19.799' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF7613'/%3E%3Cstop offset='1' stop-color='%23FD3541'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
    .block.md_hidden.flex-grow
    .hidden.md_flex.nav.h-full.flex-grow.items-center.border-t-2.border-transparent
      span.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500.cursor-pointer(data-target="products")
        span.nav-toggle-arrow.font-semibold 产品列表
        .drawer.absolute.z-20.top-0.right-0.left-0.mt-20.bg-white.shadow-lg.border-b.overflow-hidden
          .container.h-64
            .-mx-2.py-10.flex
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/standard")
                .font-semibold 标准版
                .mt-2.text-sm.text-gray-600 简单易用，小型活动优选解决方案，在线售票，快速签到
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/prime")
                .font-semibold 高级版
                .mt-2.text-sm.text-gray-600 包含众多活动管理的贴心功能，是专业活动主办方的最佳选择
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/enterprise")
                .font-semibold
                  .flex.items-center
                    span 企业版
                    span.ml-2.px-2.py-1.bg-red-500.text-xs.text-white.rounded 30天免费
                .mt-2.text-sm.text-gray-600 多会企业版为专业主办方提供独立品牌的专属活动平台
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/self")
                .font-semibold 自部署版
                .mt-2.text-sm.text-gray-600 私有化部署方案为大型活动机构搭建高效自主的活动管理平台
            .-mt-2
              a.pl-4.pr-5.font-semibold.compare-arrow(href="/compare") 查看产品对比
      span.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500.cursor-pointer(data-target="features")
        span.nav-toggle-arrow.font-semibold 解决方案
        .drawer.absolute.z-20.top-0.right-0.left-0.mt-20.bg-white.shadow-lg.border-b.overflow-hidden
          .container.h-64
            .-mx-2.py-10.flex
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/event")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.684 5.95a1 1 0 0 0 1.265-.633l1-3a1.001 1.001 0 1 0-1.9-.631l-1 3a1 1 0 0 0 .635 1.263zM23.683 13.052l-3 1a1.001 1.001 0 0 0 .632 1.9l3-1a1 1 0 1 0-.632-1.9zM17 7.501a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM16 11a1 1 0 0 0 1 1 7.007 7.007 0 0 0 7-7 1 1 0 1 0-2 0 5.006 5.006 0 0 1-5 5 1 1 0 0 0-1 1zM8.708 6.294a1 1 0 0 0-1.65.374l-6 17a1 1 0 0 0 1.277 1.275l16.999-6a1 1 0 0 0 .374-1.65l-11-10.999zM3.64 22.361l1.205-3.415.892 2.675-2.097.74zm5.378-1.9l-2.287-6.86 1.1-3.115 3.1 9.3-1.913.675zm4.9-1.727l-2.2-6.614 3.5 3.5L16 18l-2.083.733z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 活动票务
                .mt-2.text-sm.text-gray-600 支持演出、会议、展览、剧场等各场景活动
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/service")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.708 9.61C15.949 9.61 13 11.704 13 15.319c0 3.235 4.566 7.896 5.042 8.372.19.19.475.285.666.285.19 0 .475-.095.666-.285.475-.476 5.042-5.137 5.042-8.372 0-3.615-2.95-5.707-5.708-5.707zm0 7.61a1.908 1.908 0 0 1-1.903-1.902c0-1.046.856-1.902 1.903-1.902 1.046 0 1.902.856 1.902 1.902a1.908 1.908 0 0 1-1.902 1.903z' fill='%233C82EC'/%3E%3Cpath d='M7.292 12.37c.571.665 1.427 1.046 2.378 1.046.666 0 1.237-.19 1.808-.571 1.046-3.235 4.186-5.137 7.23-5.137 1.141 0 2.283.285 3.33.76l-3.425-5.992c-.19-.286-.476-.476-.857-.476H6.341c-.38 0-.666.19-.856.476L1.68 9.135c-.096.19-.096.285-.096.475 0 2.283 1.332 3.806 3.33 3.806.951 0 1.807-.381 2.378-1.047zM11.098 15.318v-.19c-.476.095-.952.19-1.427.19-.857 0-1.618-.19-2.379-.57-.76.38-1.522.57-2.378.57h-.476v6.66c0 .57.381.95.952.95h9.418c-1.713-1.997-3.71-5.041-3.71-7.61z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 服务预订
                .mt-2.text-sm.text-gray-600 适用于多种服务场景，线上线下可同步售票
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/wechat")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.196 14.286s-2.28-2.573-2.187-5.206c.12-3.34 3.553-7.693 8.52-7.693 1.413 0 4.24 0 7.745 4.14.187.227-11.305-2.88-14.078 8.76z' fill='%233C82EC'/%3E%3Cpath d='M14.108 7.973s2.96-.973 5.453-.133c3.167 1.066 6.52 5.12 5.107 9.886-.4 1.353-1.207 4.06-6.173 6.24-.267.12 7.96-10.013-4.387-15.993z' fill='%233C82EC'/%3E%3Cpath d='M9.209 19.246c-1.453 1.527-2.813 1.307-2.813 1.307l.433-2.393c-3.926-2.58-4.78-7.746-4.84-7.58-1.833 5.113-.686 8.533.02 9.753 2.487 4.3 8.986 5.513 13.113 2.92 2.226-1.4 3.4-5.294 3.4-5.294-3.974 1.754-7.007 1.927-9.313 1.287z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 活动服务号
                .mt-2.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/mini")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1C6.37 1 1 6.37 1 13c0 6.628 5.371 12 12 12 6.628 0 12-5.37 12-12S19.63 1 13 1zm7.078 10.984a4.276 4.276 0 0 1-2.47 1.845l-.08.022a1.821 1.821 0 0 1-.497.075c-.733 0-1.146-.494-.924-1.104a1.761 1.761 0 0 1 1.11-.998 1.93 1.93 0 0 0 1.37-1.746c0-1.052-1.023-1.905-2.285-1.905-1.262 0-2.287.853-2.287 1.905v5.843a3.87 3.87 0 0 1-2.033 3.334 4.595 4.595 0 0 1-2.287.603c-2.38 0-4.318-1.766-4.318-3.937a3.645 3.645 0 0 1 .542-1.905 4.277 4.277 0 0 1 2.484-1.85h.003a1.84 1.84 0 0 1 .548-.086c.736 0 1.151.497.929 1.11a1.798 1.798 0 0 1-1.034.963 2.18 2.18 0 0 0-.165.062 1.906 1.906 0 0 0-1.274 1.706c0 1.053 1.023 1.905 2.286 1.905 1.263 0 2.287-.852 2.287-1.905V10.08a3.872 3.872 0 0 1 2.032-3.334 4.594 4.594 0 0 1 2.286-.603c2.381 0 4.318 1.766 4.318 3.937a3.644 3.644 0 0 1-.542 1.905h.001z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 活动小程序
                .mt-2.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/checkin")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.61l-5 5-2-2-1.413 1.415L12 9.438l6.414-6.413L17 1.61zM10.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 1 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM6.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM23.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 14 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM19.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 极速签到
                .mt-2.text-sm.text-gray-600 专用软硬件的签到系统，千人大型活动轻松签到
      a.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500(href="/enterprise")
        span.font-semibold 企业版
      a.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500(href="/compare")
        span.font-semibold 产品价格
      a.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500(href="/support")
        span.font-semibold 帮助支持
    .hidden.md_flex.items-center
      a.mr-4.font-semibold(href='https://app.duohui.cn/signup') 注册
      a.px-4.py-2.font-semibold.bg-gray-100.rounded(href='https://app.duohui.cn/') 管理后台
    //- mobile
    .block.md_hidden
      input(type="checkbox", id="mobile-menu").hidden
      label(for="mobile-menu")
        .mobile-menu.cursor-pointer
      .mobile-menu-list.fixed.z-50.inset-0.mt-20.py-4.bg-white.select-none.overflow-y-auto.pb-20
        input(type="checkbox", id="mobile-plans").hidden
        label(for="mobile-plans")
          span.block.px-4.font-semibold.cursor-pointer
            .py-4 产品列表
        .mobile-plans.p-4
          a.block.mb-6(href="/standard")
            .font-semibold 标准版
            .mt-1.text-sm.text-gray-600 简单易用，小型活动优选解决方案
          a.block.mb-6(href="/prime")
            .font-semibold 高级版
            .mt-1.text-sm.text-gray-600 包含了众多活动管理功能，是专业活动主办方的最佳选择
          a.block.mb-6(href="/enterprise")
            .font-semibold
              .flex.items-center
                span 企业版
                span.ml-2.px-2.py-1.bg-red-500.text-xs.text-white.rounded 30天免费
            .mt-1.text-sm.text-gray-600 多会企业版为主办方提供独立品牌的专属活动平台
          a.block.mb-6(href="/self")
            .font-semibold 自部署版
            .mt-1.text-sm.text-gray-600 为企业提供高质量的私有化部署方案
          .mt-4
            a.pr-5.font-semibold.compare-arrow(href="/compare") 查看产品对比
        input(type="checkbox", id="mobile-features").hidden
        label(for="mobile-features")
          span.block.px-4.font-semibold.cursor-pointer
            .py-4.border-t.border-gray-200 解决方案
        .mobile-features.p-4
          a.block.mb-6(href="/event")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.684 5.95a1 1 0 0 0 1.265-.633l1-3a1.001 1.001 0 1 0-1.9-.631l-1 3a1 1 0 0 0 .635 1.263zM23.683 13.052l-3 1a1.001 1.001 0 0 0 .632 1.9l3-1a1 1 0 1 0-.632-1.9zM17 7.501a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM16 11a1 1 0 0 0 1 1 7.007 7.007 0 0 0 7-7 1 1 0 1 0-2 0 5.006 5.006 0 0 1-5 5 1 1 0 0 0-1 1zM8.708 6.294a1 1 0 0 0-1.65.374l-6 17a1 1 0 0 0 1.277 1.275l16.999-6a1 1 0 0 0 .374-1.65l-11-10.999zM3.64 22.361l1.205-3.415.892 2.675-2.097.74zm5.378-1.9l-2.287-6.86 1.1-3.115 3.1 9.3-1.913.675zm4.9-1.727l-2.2-6.614 3.5 3.5L16 18l-2.083.733z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 活动票务
            .pl-6.mt-1.text-sm.text-gray-600 支持演出、会议、展览、剧场等各场景活动
          a.block.mb-6(href="/service")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.708 9.61C15.949 9.61 13 11.704 13 15.319c0 3.235 4.566 7.896 5.042 8.372.19.19.475.285.666.285.19 0 .475-.095.666-.285.475-.476 5.042-5.137 5.042-8.372 0-3.615-2.95-5.707-5.708-5.707zm0 7.61a1.908 1.908 0 0 1-1.903-1.902c0-1.046.856-1.902 1.903-1.902 1.046 0 1.902.856 1.902 1.902a1.908 1.908 0 0 1-1.902 1.903z' fill='%233C82EC'/%3E%3Cpath d='M7.292 12.37c.571.665 1.427 1.046 2.378 1.046.666 0 1.237-.19 1.808-.571 1.046-3.235 4.186-5.137 7.23-5.137 1.141 0 2.283.285 3.33.76l-3.425-5.992c-.19-.286-.476-.476-.857-.476H6.341c-.38 0-.666.19-.856.476L1.68 9.135c-.096.19-.096.285-.096.475 0 2.283 1.332 3.806 3.33 3.806.951 0 1.807-.381 2.378-1.047zM11.098 15.318v-.19c-.476.095-.952.19-1.427.19-.857 0-1.618-.19-2.379-.57-.76.38-1.522.57-2.378.57h-.476v6.66c0 .57.381.95.952.95h9.418c-1.713-1.997-3.71-5.041-3.71-7.61z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 服务预订
            .pl-6.mt-1.text-sm.text-gray-600 适用于多种服务场景，线上线下可同步售票
          a.block.mb-6(href="/wechat")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.196 14.286s-2.28-2.573-2.187-5.206c.12-3.34 3.553-7.693 8.52-7.693 1.413 0 4.24 0 7.745 4.14.187.227-11.305-2.88-14.078 8.76z' fill='%233C82EC'/%3E%3Cpath d='M14.108 7.973s2.96-.973 5.453-.133c3.167 1.066 6.52 5.12 5.107 9.886-.4 1.353-1.207 4.06-6.173 6.24-.267.12 7.96-10.013-4.387-15.993z' fill='%233C82EC'/%3E%3Cpath d='M9.209 19.246c-1.453 1.527-2.813 1.307-2.813 1.307l.433-2.393c-3.926-2.58-4.78-7.746-4.84-7.58-1.833 5.113-.686 8.533.02 9.753 2.487 4.3 8.986 5.513 13.113 2.92 2.226-1.4 3.4-5.294 3.4-5.294-3.974 1.754-7.007 1.927-9.313 1.287z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 活动服务号
            .pl-6.mt-1.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
          a.block.mb-6(href="/mini")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1C6.37 1 1 6.37 1 13c0 6.628 5.371 12 12 12 6.628 0 12-5.37 12-12S19.63 1 13 1zm7.078 10.984a4.276 4.276 0 0 1-2.47 1.845l-.08.022a1.821 1.821 0 0 1-.497.075c-.733 0-1.146-.494-.924-1.104a1.761 1.761 0 0 1 1.11-.998 1.93 1.93 0 0 0 1.37-1.746c0-1.052-1.023-1.905-2.285-1.905-1.262 0-2.287.853-2.287 1.905v5.843a3.87 3.87 0 0 1-2.033 3.334 4.595 4.595 0 0 1-2.287.603c-2.38 0-4.318-1.766-4.318-3.937a3.645 3.645 0 0 1 .542-1.905 4.277 4.277 0 0 1 2.484-1.85h.003a1.84 1.84 0 0 1 .548-.086c.736 0 1.151.497.929 1.11a1.798 1.798 0 0 1-1.034.963 2.18 2.18 0 0 0-.165.062 1.906 1.906 0 0 0-1.274 1.706c0 1.053 1.023 1.905 2.286 1.905 1.263 0 2.287-.852 2.287-1.905V10.08a3.872 3.872 0 0 1 2.032-3.334 4.594 4.594 0 0 1 2.286-.603c2.381 0 4.318 1.766 4.318 3.937a3.644 3.644 0 0 1-.542 1.905h.001z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 活动小程序
            .pl-6.mt-1.text-sm.text-gray-600 聚集微信流量红利，助力轻松获客
          a.block.mb-6(href="/checkin")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.61l-5 5-2-2-1.413 1.415L12 9.438l6.414-6.413L17 1.61zM10.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 1 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM6.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM23.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 14 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM19.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 极速签到
            .pl-6.mt-1.text-sm.text-gray-600 专用软硬件的签到系统，千人大型活动轻松签到
        a.block.px-4.font-semibold.cursor-pointer(href="/enterprise")
          .py-4.border-t.border-gray-200 企业版
        a.block.px-4.font-semibold.cursor-pointer(href="/compare")
          .py-4.border-t.border-gray-200 产品价格
        a.block.px-4.font-semibold.cursor-pointer(href="/support")
          .py-4.border-t.border-gray-200 帮助支持
        .mt-6.px-4
          a.btn.large.solid.w-full.text-center.mt-4(href='https://app.duohui.cn/signup') 立即注册
          a.btn.large.w-full.text-center.mt-4(href='https://app.duohui.cn/') 管理后台