.header.section
  .container.clear
    .logo
      a(href="/"): img(src='./static/img/logo.png', srcset='./static/img/logo@2x.png 2x', alt='多会')
    ul.nav.clear
      .more
        a(href='/compare.html')
          li 产品列表
        a(href='/customers.html')
          li 服务案例
        a(href='/support.html')
          li 帮助支持
      a(href='/app/')
        li.app 主办方登录