.header.section
  .container.clear
    .logo
      a(href="/"): img(src='/img/logo.png', srcset='/img/logo@2x.png 2x', alt='多会')
    ul.nav.clear
      .more
        a(href='/compare')
          li 产品列表
        a(href='/customers')
          li 服务案例
        a(href='/support')
          li 帮助支持
      a(href='/app/')
        li 注册
      a(href='/app/')
        li.app 主办方后台