.h-20.block.md_hidden
.fixed.z-10.top-0.md_relative.w-full.h-20.border-b.bg-white
  .container.h-full.flex.items-center
    .mr-8
      a(href="/"): img(src='/img/logo.png', srcset='/img/logo@2x.png 2x', alt='多会')
    .block.md_hidden.flex-grow
    .hidden.md_flex.nav.h-full.flex-grow.items-center.border-t-2.border-transparent
      span.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500.cursor-pointer(data-target="products")
        span.nav-toggle-arrow.font-semibold 产品列表
        .drawer.absolute.z-20.top-0.right-0.left-0.mt-20.bg-white.shadow-lg.border-b.overflow-hidden
          .container.h-64
            .-mx-2.py-10.flex
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/standard")
                .font-semibold 标准版
                .mt-2.text-sm.text-gray-600 简单易用，小型活动优选解决方案，在线售票，快速签到
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/prime")
                .font-semibold 高级版
                .mt-2.text-sm.text-gray-600 包含众多活动管理的贴心功能，是专业活动主办方的最佳选择
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/enterprise")
                .font-semibold
                  .flex.items-center
                    span 企业版
                    span.ml-2.px-2.py-1.bg-red-500.text-xs.text-white.rounded 30天免费
                .mt-2.text-sm.text-gray-600 多会企业版为专业主办方提供独立品牌的专属活动平台
              a.mx-2.p-4.md_w-1_4.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/self")
                .font-semibold 自部署版
                .mt-2.text-sm.text-gray-600 私有化部署方案为大型活动机构搭建高效自主的活动管理平台
            .-mt-2
              a.pl-4.pr-5.font-semibold.compare-arrow(href="/compare") 查看产品对比
      span.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500.cursor-pointer(data-target="features")
        span.nav-toggle-arrow.font-semibold 解决方案
        .drawer.absolute.z-20.top-0.right-0.left-0.mt-20.bg-white.shadow-lg.border-b.overflow-hidden
          .container.h-64
            .-mx-2.py-10.flex
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/event")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.684 5.95a1 1 0 0 0 1.265-.633l1-3a1.001 1.001 0 1 0-1.9-.631l-1 3a1 1 0 0 0 .635 1.263zM23.683 13.052l-3 1a1.001 1.001 0 0 0 .632 1.9l3-1a1 1 0 1 0-.632-1.9zM17 7.501a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM16 11a1 1 0 0 0 1 1 7.007 7.007 0 0 0 7-7 1 1 0 1 0-2 0 5.006 5.006 0 0 1-5 5 1 1 0 0 0-1 1zM8.708 6.294a1 1 0 0 0-1.65.374l-6 17a1 1 0 0 0 1.277 1.275l16.999-6a1 1 0 0 0 .374-1.65l-11-10.999zM3.64 22.361l1.205-3.415.892 2.675-2.097.74zm5.378-1.9l-2.287-6.86 1.1-3.115 3.1 9.3-1.913.675zm4.9-1.727l-2.2-6.614 3.5 3.5L16 18l-2.083.733z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 活动票务
                .mt-2.text-sm.text-gray-600 支持演出、会议、展览、剧场等各场景活动
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/service")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.708 9.61C15.949 9.61 13 11.704 13 15.319c0 3.235 4.566 7.896 5.042 8.372.19.19.475.285.666.285.19 0 .475-.095.666-.285.475-.476 5.042-5.137 5.042-8.372 0-3.615-2.95-5.707-5.708-5.707zm0 7.61a1.908 1.908 0 0 1-1.903-1.902c0-1.046.856-1.902 1.903-1.902 1.046 0 1.902.856 1.902 1.902a1.908 1.908 0 0 1-1.902 1.903z' fill='%233C82EC'/%3E%3Cpath d='M7.292 12.37c.571.665 1.427 1.046 2.378 1.046.666 0 1.237-.19 1.808-.571 1.046-3.235 4.186-5.137 7.23-5.137 1.141 0 2.283.285 3.33.76l-3.425-5.992c-.19-.286-.476-.476-.857-.476H6.341c-.38 0-.666.19-.856.476L1.68 9.135c-.096.19-.096.285-.096.475 0 2.283 1.332 3.806 3.33 3.806.951 0 1.807-.381 2.378-1.047zM11.098 15.318v-.19c-.476.095-.952.19-1.427.19-.857 0-1.618-.19-2.379-.57-.76.38-1.522.57-2.378.57h-.476v6.66c0 .57.381.95.952.95h9.418c-1.713-1.997-3.71-5.041-3.71-7.61z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 服务预订
                .mt-2.text-sm.text-gray-600 适用于多种服务场景，线上线下可同步售票
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/wechat")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.196 14.286s-2.28-2.573-2.187-5.206c.12-3.34 3.553-7.693 8.52-7.693 1.413 0 4.24 0 7.745 4.14.187.227-11.305-2.88-14.078 8.76z' fill='%233C82EC'/%3E%3Cpath d='M14.108 7.973s2.96-.973 5.453-.133c3.167 1.066 6.52 5.12 5.107 9.886-.4 1.353-1.207 4.06-6.173 6.24-.267.12 7.96-10.013-4.387-15.993z' fill='%233C82EC'/%3E%3Cpath d='M9.209 19.246c-1.453 1.527-2.813 1.307-2.813 1.307l.433-2.393c-3.926-2.58-4.78-7.746-4.84-7.58-1.833 5.113-.686 8.533.02 9.753 2.487 4.3 8.986 5.513 13.113 2.92 2.226-1.4 3.4-5.294 3.4-5.294-3.974 1.754-7.007 1.927-9.313 1.287z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 活动服务号
                .mt-2.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/mini")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1C6.37 1 1 6.37 1 13c0 6.628 5.371 12 12 12 6.628 0 12-5.37 12-12S19.63 1 13 1zm7.078 10.984a4.276 4.276 0 0 1-2.47 1.845l-.08.022a1.821 1.821 0 0 1-.497.075c-.733 0-1.146-.494-.924-1.104a1.761 1.761 0 0 1 1.11-.998 1.93 1.93 0 0 0 1.37-1.746c0-1.052-1.023-1.905-2.285-1.905-1.262 0-2.287.853-2.287 1.905v5.843a3.87 3.87 0 0 1-2.033 3.334 4.595 4.595 0 0 1-2.287.603c-2.38 0-4.318-1.766-4.318-3.937a3.645 3.645 0 0 1 .542-1.905 4.277 4.277 0 0 1 2.484-1.85h.003a1.84 1.84 0 0 1 .548-.086c.736 0 1.151.497.929 1.11a1.798 1.798 0 0 1-1.034.963 2.18 2.18 0 0 0-.165.062 1.906 1.906 0 0 0-1.274 1.706c0 1.053 1.023 1.905 2.286 1.905 1.263 0 2.287-.852 2.287-1.905V10.08a3.872 3.872 0 0 1 2.032-3.334 4.594 4.594 0 0 1 2.286-.603c2.381 0 4.318 1.766 4.318 3.937a3.644 3.644 0 0 1-.542 1.905h.001z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 活动小程序
                .mt-2.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
              a.mx-2.p-4.md_w-1_5.rounded.hover_bg-blue-100.hover_text-theme-blue(href="/checkin")
                img.mb-3.icon(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.61l-5 5-2-2-1.413 1.415L12 9.438l6.414-6.413L17 1.61zM10.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 1 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM6.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM23.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 14 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM19.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z' fill='%233C82EC'/%3E%3C/svg%3E")
                .font-semibold 极速签到
                .mt-2.text-sm.text-gray-600 专用软硬件的签到系统，千人大型活动轻松签到
      a.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500(href="/enterprise")
        span.font-semibold 企业版
      a.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500(href="/compare")
        span.font-semibold 产品价格
      a.nav-item.flex.justify-center.items-center.mx-4.px-2.h-full.border-b-2.border-transparent.hover_border-blue-500(href="/support")
        span.font-semibold 帮助支持
    .hidden.md_flex.items-center
      a.mr-4.font-semibold(href='https://app.duohui.cn/signup') 注册
      a.px-4.py-2.font-semibold.bg-gray-100.rounded(href='https://app.duohui.cn/') 主办方后台
    //- mobile
    .block.md_hidden
      input(type="checkbox", id="mobile-menu").hidden
      label(for="mobile-menu")
        .mobile-menu.cursor-pointer
      .mobile-menu-list.fixed.z-50.inset-0.mt-20.py-4.bg-white.select-none.overflow-y-auto.pb-20
        input(type="checkbox", id="mobile-plans").hidden
        label(for="mobile-plans")
          span.block.px-4.font-semibold.cursor-pointer
            .py-4 产品列表
        .mobile-plans.p-4
          a.block.mb-6(href="/standard")
            .font-semibold 标准版
            .mt-1.text-sm.text-gray-600 简单易用，小型活动优选解决方案
          a.block.mb-6(href="/prime")
            .font-semibold 高级版
            .mt-1.text-sm.text-gray-600 包含了众多活动管理功能，是专业活动主办方的最佳选择
          a.block.mb-6(href="/enterprise")
            .font-semibold
              .flex.items-center
                span 企业版
                span.ml-2.px-2.py-1.bg-red-500.text-xs.text-white.rounded 30天免费
            .mt-1.text-sm.text-gray-600 多会企业版为主办方提供独立品牌的专属活动平台
          a.block.mb-6(href="/self")
            .font-semibold 自部署版
            .mt-1.text-sm.text-gray-600 为企业提供高质量的私有化部署方案
          .mt-4
            a.pr-5.font-semibold.compare-arrow(href="/compare") 查看产品对比
        input(type="checkbox", id="mobile-features").hidden
        label(for="mobile-features")
          span.block.px-4.font-semibold.cursor-pointer
            .py-4.border-t 解决方案
        .mobile-features.p-4
          a.block.mb-6(href="/event")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.684 5.95a1 1 0 0 0 1.265-.633l1-3a1.001 1.001 0 1 0-1.9-.631l-1 3a1 1 0 0 0 .635 1.263zM23.683 13.052l-3 1a1.001 1.001 0 0 0 .632 1.9l3-1a1 1 0 1 0-.632-1.9zM17 7.501a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM16 11a1 1 0 0 0 1 1 7.007 7.007 0 0 0 7-7 1 1 0 1 0-2 0 5.006 5.006 0 0 1-5 5 1 1 0 0 0-1 1zM8.708 6.294a1 1 0 0 0-1.65.374l-6 17a1 1 0 0 0 1.277 1.275l16.999-6a1 1 0 0 0 .374-1.65l-11-10.999zM3.64 22.361l1.205-3.415.892 2.675-2.097.74zm5.378-1.9l-2.287-6.86 1.1-3.115 3.1 9.3-1.913.675zm4.9-1.727l-2.2-6.614 3.5 3.5L16 18l-2.083.733z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 活动票务
            .pl-6.mt-1.text-sm.text-gray-600 支持演出、会议、展览、剧场等各场景活动
          a.block.mb-6(href="/service")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.708 9.61C15.949 9.61 13 11.704 13 15.319c0 3.235 4.566 7.896 5.042 8.372.19.19.475.285.666.285.19 0 .475-.095.666-.285.475-.476 5.042-5.137 5.042-8.372 0-3.615-2.95-5.707-5.708-5.707zm0 7.61a1.908 1.908 0 0 1-1.903-1.902c0-1.046.856-1.902 1.903-1.902 1.046 0 1.902.856 1.902 1.902a1.908 1.908 0 0 1-1.902 1.903z' fill='%233C82EC'/%3E%3Cpath d='M7.292 12.37c.571.665 1.427 1.046 2.378 1.046.666 0 1.237-.19 1.808-.571 1.046-3.235 4.186-5.137 7.23-5.137 1.141 0 2.283.285 3.33.76l-3.425-5.992c-.19-.286-.476-.476-.857-.476H6.341c-.38 0-.666.19-.856.476L1.68 9.135c-.096.19-.096.285-.096.475 0 2.283 1.332 3.806 3.33 3.806.951 0 1.807-.381 2.378-1.047zM11.098 15.318v-.19c-.476.095-.952.19-1.427.19-.857 0-1.618-.19-2.379-.57-.76.38-1.522.57-2.378.57h-.476v6.66c0 .57.381.95.952.95h9.418c-1.713-1.997-3.71-5.041-3.71-7.61z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 服务预订
            .pl-6.mt-1.text-sm.text-gray-600 适用于多种服务场景，线上线下可同步售票
          a.block.mb-6(href="/wechat")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.196 14.286s-2.28-2.573-2.187-5.206c.12-3.34 3.553-7.693 8.52-7.693 1.413 0 4.24 0 7.745 4.14.187.227-11.305-2.88-14.078 8.76z' fill='%233C82EC'/%3E%3Cpath d='M14.108 7.973s2.96-.973 5.453-.133c3.167 1.066 6.52 5.12 5.107 9.886-.4 1.353-1.207 4.06-6.173 6.24-.267.12 7.96-10.013-4.387-15.993z' fill='%233C82EC'/%3E%3Cpath d='M9.209 19.246c-1.453 1.527-2.813 1.307-2.813 1.307l.433-2.393c-3.926-2.58-4.78-7.746-4.84-7.58-1.833 5.113-.686 8.533.02 9.753 2.487 4.3 8.986 5.513 13.113 2.92 2.226-1.4 3.4-5.294 3.4-5.294-3.974 1.754-7.007 1.927-9.313 1.287z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 活动服务号
            .pl-6.mt-1.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
          a.block.mb-6(href="/mini")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1C6.37 1 1 6.37 1 13c0 6.628 5.371 12 12 12 6.628 0 12-5.37 12-12S19.63 1 13 1zm7.078 10.984a4.276 4.276 0 0 1-2.47 1.845l-.08.022a1.821 1.821 0 0 1-.497.075c-.733 0-1.146-.494-.924-1.104a1.761 1.761 0 0 1 1.11-.998 1.93 1.93 0 0 0 1.37-1.746c0-1.052-1.023-1.905-2.285-1.905-1.262 0-2.287.853-2.287 1.905v5.843a3.87 3.87 0 0 1-2.033 3.334 4.595 4.595 0 0 1-2.287.603c-2.38 0-4.318-1.766-4.318-3.937a3.645 3.645 0 0 1 .542-1.905 4.277 4.277 0 0 1 2.484-1.85h.003a1.84 1.84 0 0 1 .548-.086c.736 0 1.151.497.929 1.11a1.798 1.798 0 0 1-1.034.963 2.18 2.18 0 0 0-.165.062 1.906 1.906 0 0 0-1.274 1.706c0 1.053 1.023 1.905 2.286 1.905 1.263 0 2.287-.852 2.287-1.905V10.08a3.872 3.872 0 0 1 2.032-3.334 4.594 4.594 0 0 1 2.286-.603c2.381 0 4.318 1.766 4.318 3.937a3.644 3.644 0 0 1-.542 1.905h.001z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 活动小程序
            .pl-6.mt-1.text-sm.text-gray-600 聚集微信流量红利，帮助主办方轻松获客
          a.block.mb-6(href="/checkin")
            .flex.items-center
              .w-6
                img.opacity-50.w-4.h-4.mr-2(src="data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.61l-5 5-2-2-1.413 1.415L12 9.438l6.414-6.413L17 1.61zM10.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 1 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM6.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM23.884 20.523c-.86-.684-2.32-1.499-4.384-1.499-2.063 0-3.523.815-4.383 1.498A2.96 2.96 0 0 0 14 22.86v2.164h11V22.86c0-.924-.407-1.775-1.116-2.337zM19.5 18.025a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z' fill='%233C82EC'/%3E%3C/svg%3E")
              .font-semibold 极速签到
            .pl-6.mt-1.text-sm.text-gray-600 专用软硬件的签到系统，千人大型活动轻松签到
        a.block.px-4.font-semibold.cursor-pointer(href="/enterprise")
          .py-4.border-t 企业版
        a.block.px-4.font-semibold.cursor-pointer(href="/compare")
          .py-4.border-t 产品价格
        a.block.px-4.font-semibold.cursor-pointer(href="/support")
          .py-4.border-t 帮助支持
        .mt-6.px-4
          a.btn.large.solid.w-full.text-center.mt-4(href='https://app.duohui.cn/signup') 立即注册
          a.btn.large.w-full.text-center.mt-4(href='https://app.duohui.cn/') 主办方登录