.header.section
  .container.clear
    .logo
      a(href="/"): img(src='/img/logo.png', srcset='/img/logo@2x.png 2x', alt='多会')
    ul.nav.main-nav.clear
      .more
        .dropdown.is-hoverable
          a(href='/compare')
            li 产品列表
            #dropdown-menu.dropdown-menu(role='menu')
              - var productCode = product ? product.code: ''
              .dropdown-content
                a.dropdown-item(href='/standard' class=(productCode == 'std') ?'is-active': '') 标准版
                a.dropdown-item(href='/prime' class=(productCode == 'prime') ?'is-active': '') 高级版
                a.dropdown-item(href='/enterprise') 企业版
                a.dropdown-item(href='/wechat' class=(productCode == 'wechat') ?'is-active': '') 活动服务号
                a.dropdown-item(href='/mini' class=(productCode == 'mini') ?'is-active': '') 活动小程序
                a.dropdown-item(href='/checkin' class=(productCode == 'checkin') ?'is-active': '') 极速签到
                hr.dropdown-divider
                a.dropdown-item(href='/compare') 对比产品
        a(href='/customers')
          li 服务案例
        a(href='/enterprise')
          li 企业版
        a(href='/support')
          li 帮助支持
    ul.nav.clear
      a(href='https://beta.duohui.cn/signup')
        li 注册
      a(href='https://beta.duohui.cn/')
        li.app 主办方后台