doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 双十一特惠 - 多会
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="多会双十一特惠活动")
    meta(name="twitter:image" content="https://www.duohui.cn/img/1111/1111-card.png?rv=5")
    meta(name="og:description" content="11.9 - 11.20 新用户5折起 老用户续费超低折扣")
    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/common.css?v=<!--@echo curtime -->')
    link(rel='stylesheet' type='text/css' href='./styles/purchase.css')
  body
    include partials/_header.pug
    .main-container.pb-12
      .banner-container
        .background
          .icon-avatar-round.pos-1
          .icon-lightning-round.pos-2
          .icon-link-round.pos-3
          .icon-vector-1.pos-4
          .icon-vector-2.pos-5
          .icon-vector-3.pos-6
          .icon-ellipse-1.pos-7
          .icon-ellipse-2.pos-8
          .icon-ellipse-3.pos-9
        .title.flex.flex-center.items-center.
          <svg width="925" height="73" viewBox="0 0 925 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M64.48 15.7815L63.5733 22.431L67.4018 31.5992L77.0738 16.5875L77.6783 12.1545H51.2818L52.6923 2.38174H92.1863L89.7683 19.3077L74.555 43.4877L85.9398 70.791H72.137L66.092 56.283L56.9238 70.791H29.7213L24.18 57.492L15.8178 70.791H0.50375L17.732 43.9915L8.866 22.6325L9.8735 15.7815H23.4748L22.568 22.431L26.0943 30.9947L35.3633 16.5875L35.9678 12.1545H9.57125L10.9818 2.38174H50.4758L48.0578 19.3077L32.4415 44.2937L42.718 68.9775L58.838 44.0922L49.8713 22.6325L50.8788 15.7815H64.48ZM177.413 36.7375H145.777L140.639 72.9068H119.683L124.721 36.7375H93.1859L94.4956 27.1662H126.131L129.355 4.19524L126.131 0.366742H150.916L147.087 27.1662H178.723L177.413 36.7375ZM267.274 28.476L265.864 38.7525H184.055L185.465 28.476H267.274ZM333.157 37.8457L333.963 32.4052H309.077L310.387 23.3377H325.903L326.91 16.2852H313.309L314.619 7.21774H328.119L328.724 3.38924L325.097 0.366742H348.068L347.06 7.21774H359.352L358.042 16.2852H345.75L344.743 23.3377H359.452L358.143 32.4052H351.09L350.284 37.8457H355.926L354.717 46.611H349.075L346.355 65.955C346.086 67.9028 345.146 69.5148 343.534 70.791C341.922 72 340.108 72.6045 338.093 72.6045H320.16L329.63 63.2347L331.948 46.611H308.775L309.984 37.8457H333.157ZM289.33 15.6807H292.454L294.67 0.366742H307.465L305.249 15.6807H307.667L306.357 25.252H303.939L301.42 42.984L305.753 42.4802L304.443 52.0515L300.01 52.5552L297.189 72.9068H282.983L285.603 54.268L271.195 55.88L272.606 46.3087L286.912 44.6967L289.733 25.252H287.114L284.897 34.8232H274.218L280.263 8.72899L278.248 6.10949H291.547L289.33 15.6807ZM326.406 63.3355H312.906L308.775 50.238H322.276L326.406 63.3355ZM399.644 14.371L399.946 12.0537H369.318L370.326 5.20274H400.853L401.054 4.19524L398.737 0.467491H420.298L419.592 5.20274H450.724L449.717 12.0537H418.686L418.383 14.371H447.097L443.571 39.2562H414.857L414.353 42.7825L428.156 42.581L427.652 40.4652H441.556L444.377 51.9507H430.473L429.869 49.6335L364.482 50.641L365.49 43.5885L395.715 43.0847L396.218 39.2562H367.505L371.031 14.371H399.644ZM380.199 71.194L382.819 52.656H400.047L398.435 64.0407H420.298L424.529 61.2197L423.119 71.194H380.199ZM426.343 53.865H441.959L443.067 71.0932H427.451L426.343 53.865ZM374.456 71.0932H359.142L365.389 53.865H380.703L374.456 71.0932ZM404.178 51.6485H419.693L419.794 62.1265H404.178V51.6485ZM417.577 20.1137L417.174 22.7332H428.156L428.559 20.1137H417.577ZM426.645 33.4127L426.947 30.894H416.066L415.663 33.4127H426.645ZM388.259 22.7332H398.435L398.838 20.1137H388.662L388.259 22.7332ZM397.024 33.4127L397.327 30.894H387.05L386.748 33.4127H397.024ZM550.52 0.366742L569.36 30.088H555.86L555.457 32.909H536.314L535.105 41.4727H556.162L554.852 51.044H533.796L532.284 61.6227H562.912L561.603 71.194H481.204L482.514 61.6227H513.142L514.653 51.044H493.596L494.906 41.4727H515.963L517.172 32.909H498.029L498.432 30.088H485.133L509.716 3.18774L507.399 0.366742H550.52ZM510.422 23.3377H545.986L537.523 9.93799H522.713L510.422 23.3377ZM581.845 42.4802L583.76 29.0805H574.188L586.379 3.28849L583.961 0.366742H606.932L605.119 4.19524H658.013L656.703 13.7665H633.732L632.422 23.3377H653.479L652.068 32.909H631.011L629.702 42.4802H656.501L655.192 52.0515H628.291L625.369 72.9068H606.227L609.149 52.0515H570.964L572.274 42.4802H581.845ZM596.051 23.3377H613.279L614.589 13.7665H600.585L596.051 23.3377ZM600.887 42.4802H610.559L611.869 32.909H602.298L600.887 42.4802ZM744.952 2.28099L741.224 29.0805H672.311L675.535 6.00874L672.311 2.28099H744.952ZM746.564 31.9015L745.456 39.5585H705.256L700.622 72.9068H685.308L685.812 69.4812L660.624 71.194L662.035 61.6227L665.863 61.4212L668.986 39.5585H665.057L666.165 31.9015H746.564ZM707.674 42.4802H743.138L741.728 52.9582L730.847 62.0257L740.821 72.9068H724.5L721.578 69.7835L717.85 72.9068H701.529L714.525 62.0257L706.264 52.9582L706.667 50.1372L707.674 42.4802ZM723.19 21.4235L723.593 18.5017H692.965L692.562 21.4235H723.19ZM693.771 12.6582H724.399L724.802 9.83724H694.174L693.771 12.6582ZM681.379 60.313L687.121 59.91L687.524 56.7867H681.882L681.379 60.313ZM720.067 50.1372L723.794 54.268L728.731 50.1372H720.067ZM683.897 42.4802H689.539L689.942 39.5585H684.3L683.897 42.4802ZM682.688 51.044H688.33L688.733 48.223H683.091L682.688 51.044ZM835.821 2.07949L834.511 11.6507L823.428 12.0537L823.731 27.0655H832.294L830.985 36.7375H823.932L824.537 61.2197H827.458L831.186 57.5927L829.272 70.9925H810.935L809.424 36.7375H792.397L790.08 52.9582L798.14 51.1447L795.924 66.9625L771.341 70.791L780.811 3.79224L835.821 2.07949ZM775.572 11.8522L766.908 72.806H749.679L757.84 15.4792L751.896 16.6882L753.508 5.20274L777.184 0.366742L775.572 11.8522ZM793.707 27.0655H809.021L808.417 12.6582L795.722 13.0612L793.707 27.0655ZM807.913 57.9957L809.223 71.4962H799.45L798.14 57.9957H807.913ZM866.038 12.759L857.575 72.806H839.137L847.097 16.0837L841.958 16.9905L843.671 4.79974L867.75 0.568239L866.038 12.759ZM907.144 25.655L899.285 8.52749H897.169L885.079 25.655H866.944L884.475 2.07949L882.863 0.467491H911.375L924.674 25.655H907.144ZM862.008 72.7053L874.299 29.1812H891.527L879.236 72.7053H862.008ZM916.513 29.0805L910.368 72.7053H893.341L899.487 29.0805H916.513Z" fill="url(#paint0_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="468.5" y1="-29" x2="470.377" y2="89.2136" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FF7613"/>
            <stop offset="1" stop-color="#FD3541"/>
            </linearGradient>
            </defs>
          </svg>

        .sub-title
          span.text 新用户5折起 老用户续费超低折扣
          span.time 11.9 - 11.20
      .prod-container
        .header
          .title.font-semibold 多种产品，满足众多活动形式，新用户购买6折起！
          .sub-title 售票功能强大，适用于多种活动与服务场景，线上线下可同步售票。
        .content
          .card
            .header
              .title 高级版
              .sub-title 适合中小型活动主办方
              .badge 新用户专享
            .price
              .current
                span.num 1,299
                span.unit 元/年
              .normal
                | 日常价1,799元/年
            ul.supports
              li 支持购票在线选座
              li 销售数据统计
              li 自定义报名表单
              li 支持渠道售票
              li 提供场次功能
            .actions.w-full
              a.text-center.btn.btn-get.open-purchase(data-sku="prime_for_new_1111")
                | 立即选购
              a.text-center.btn(href="/prime")
                | 了解更多
          .card
            .header
              .title 企业版
              .sub-title 适合专业品牌主办方
              .badge 新用户专享
            .price
              .current
                span.num.hot 5,999
                span.unit 元/年
              .normal
                | 日常价9,999元/年
            ul.supports
              li 包含高级版全部功能
              li 自定义品牌形象
              li
                | 绑定 
                a(href='/wechat') 服务号
                |  ，报名即关注
              li
                | 独立的 
                a(href='/mini') 活动小程序
              li 自有支付，票款直接到账
            .actions.w-full
              a.text-center.btn.btn-get.btn-hot.open-purchase(data-sku="enterprise_for_new_1111")
                | 立即选购
              a.text-center.btn(href="/enterprise")
                | 了解更多
          .card
            .header
              .title 自部署版
              .sub-title 适合有私有化部署需求的主办方
              .badge 新用户专享
            .price
              .current
                span.text 咨询最低价
            ul.supports
              li 包含企业版全部功能
              li 本地私有化部署
              li 个性化功能定制
              li 员工使用培训
              li 专属技术指导
            .actions.w-full
              a.text-center.btn.btn-get.open-youke
                | 咨询顾问
              a.text-center.btn(href="/self")
                | 了解更多
      .rc-container
        .header
          .title.font-semibold 老用户续费一年送半年，企业版价格5折起！
          .sub-title 感恩一路陪伴，双十一特惠回馈，全年最低价。
        .content
          .card-version
            .title
              .text 高级版
              span.badge 限时6折
            .price
              .current
                span.num 1,599
                span.unit 元/年
                span.plus.mx-1
                  | 赠送6个月
              .normal 日常价1,799元/年
          .card-version
            .title
              .text 企业版
              span.badge 限时5折
            .price
              .current
                span.num.hot 7,499
                span.unit 元/年
                span.plus.mx-1
                  | 赠送6个月
              .normal 日常价9,999元/年
          .divide
          .action
            a.btn.btn-get.btn-hot.open-purchase(data-sku="for_regular_1111") 前往续费
      .mobile-rc-container
        .badge 特惠回馈
        .header
          .title 老用户续费一年送半年，企业版 5 折起！
        .content
          .card-version
            .header
              .title 高级版
              .badge 限时6折
            .price
              .current
                span.num 1,599
                span.unit 元/年
                span.plus
                  | +赠送6个月
          .card-version
            .header
              .title 企业版
              .badge 限时5折
            .price
              .current
                span.num 7,499
                span.unit 元/年
                span.plus
                  | +赠送6个月
      .mobile-prod-container
        .badge 新用户专享
        .header
          .title 新用户专享购买 6 折起！
        .content
          .card-version
            .header
              .title 高级版
              .sub-title 适合中小型活动主办方
            .price
              .current
                span.num.hot 1,299
                span.unit 元/年
            .badge 限时7折
          .card-version
            .header
              .title 企业版
              .sub-title 适合专业品牌主办方
            .price
              .current
                span.num.hot 5,999
                span.unit 元/年
            .badge 限时6折
      .mobile-fotter-container.flex-col
        .qr-code.mb-4
          img(src='./img/qrcode-contact.png')
        .content
          h3 长按二维码
          h2 联系多会客户经理获得优惠
    #purchase
      .inner
        .header
          span 双十一特惠
          .close
        iframe#purchase-iframe(src='')
        #purchase-loading.absolute.inset-0.bg-white.flex.justify-center.items-center(style="top:40px;")
          img(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='lds-palette-ring' width='80' height='80' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='rotate(150 50 50)'%3E%3Cpath d='M80 50a30 30 0 0 1-20.73 28.532' fill='none' stroke='%23999999' stroke-width='10'/%3E%3Cpath d='M59.27 78.532a30 30 0 0 1-33.54-10.898' fill='none' stroke='%23efefef' stroke-width='10'/%3E%3Cpath d='M25.73 67.634a30 30 0 0 1 0-35.268' fill='none' stroke='%23efefef' stroke-width='10'/%3E%3Cpath d='M25.73 32.366a30 30 0 0 1 33.54-10.898' fill='none' stroke='%23efefef' stroke-width='10'/%3E%3Cpath d='M59.27 21.468A30 30 0 0 1 80 50' fill='none' stroke='%23efefef' stroke-width='10'/%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 50 50;360 50 50' dur='1' repeatCount='indefinite'/%3E%3C/g%3E%3C/svg%3E")
    include partials/_footer.pug
    script(src='./vendor/vendor.js')
    script.
      $('body')
        .on('click', '#purchase .close', function() {
          $('#purchase').hide()
          $('#purchase-iframe').attr('src', '')
        })
        .on('click', '.open-purchase', function() {
          const sku = $(this).data('sku')
          $('#purchase-iframe').attr('src', `https://app.duohui.cn/quickPurchase?sku=${sku}`)
          $('#purchase').show()
          $('#purchase-loading').show()
        })
        .on('click', '.open-youke', function() {
          const y = window.$youke
          y && y('open')
        })
        .on('init', function() {
          $('#purchase-iframe').on('load', function() {
            $('#purchase-loading').hide()
          })
        })
        .trigger('init')
