doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 关于我们 - 多会
    meta(name='description', content='用多会服务电商系统，生成你自己的小程序，在微信销售活动和服务。')
    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css')
    link(rel='stylesheet', type='text/css', href='./styles/common.css')
    link(rel='stylesheet', type='text/css', href='./styles/product.css')
    link(rel='stylesheet', type='text/css', href='./styles/compare.css')
    link(rel='stylesheet', type='text/css', href='./styles/support.css')
    meta(name='msapplication-tap-highlight', content='no')
  body
    include partials/_header.pug
    .section.py-20
      .container.py-4
        .text-4xl.font-semibold 关于我们
        .mt-4.text-lg.text-gray-800 上海新小信息科技有限公司致力于为中小企业打造体验优异的专业解决方案，旗下产品包括专业的活动管理系统多会、表单管理系统多态等。

      .container.py-4
        .text-2xl.font-semibold 联系方式
        .leading-loose.mt-4
          a.btn(href="javascript:void(0)" onclick="window.$youke('open')") 在线咨询
          |  或致电
          span.phone  021-80370533
        p.small 周一至周五 10:00 至 19:00

    include partials/_footer.pug
