doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会企业版 - 专属线下活动平台
    meta(name='description', content='多会企业版帮助企业用户快速配置专属的活动平台。通过微信小程序、微信服务号和网页等多种方式提供服务。使用主办方支付商户收款，票款快速到账，多会不收取手续费。活动报名签到体验更佳，效率更高。')
    
    meta(property="og:type" content="website")
    meta(property="og:title" content="多会企业版")
    meta(property="og:description" content="多会企业版帮助企业用户快速配置专属的活动平台。通过微信小程序、微信服务号和网页等多种方式提供服务。使用主办方支付商户收款，票款快速到账，多会不收取手续费。活动报名签到体验更佳，效率更高。")
    meta(property="og:image" content="https://www.duohui.cn/img/thumbnail.png")
    meta(property="og:url" content="https://www.duohui.cn/enterprise")

    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/common.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/tailwind.fake.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/enterprise.css?v=<!--@echo curtime -->')
    meta(name='msapplication-tap-highlight', content='no')
  body
    include partials/_mixins.pug
    .bg-black-geo.text-white#top-banner
      .container
        .py-4.flex.items-center
          .flex.items-center
            a.text-zero(href="/"): img(src='/img/logo-light.png', srcset='/img/logo-light@2x.png 2x', alt='多会')
            .ml-2.pl-2.text-white.border-left-white(style="line-height:14px;") 企业版
          .flex-grow.text-center
            .md_hidden
              a.mx-6.font-bold.text-white.no-underline(href="/compare") 产品列表
              a.mx-6.font-bold.text-white.no-underline(href="/customers") 服务案例
              a.mx-6.font-bold.text-white.no-underline(href="/support") 帮助支持
          .flex.items-center
            a.font-bold.text-white.no-underline(href='https://app.duohui.cn/signup') 注册
            a.ml-4.font-bold.text-white.no-underline.outline-link-white(href='https://app.duohui.cn/') 主办方后台
        .mt-20.pb-24.text-center
          .text-5xl.font-bold.text-white 专业主办方的活动管理平台
          .text-white.mt-4 多会企业版为主办方提供独立品牌的专属活动平台
          .mt-18
            a.large(href="/compare").btn.white 查看定价
            a.large(href="https://app.duohui.cn/signup?plan=enterprise", target="_blank").btn.solid.ml-4 立即试用
    .py-2.bg-gray-200.sticky.z-10.top-0#top-tabs.md_hidden
      .container.flex.justify-center.items-center
        #tabs-logo
          .flex.items-center.mr-8(style="width:160px;")
            a(href="/"): img(src='/img/logo-dark.png', srcset='/img/logo-dark@2x.png 2x', alt='多会')
            .ml-4.pl-4.border-left-black 企业版
        .tabs.enterprise-icons.flex.justify-center
          a(href="#mini").tab.mx-2.px-4.py-2.inline-block.rounded.text-black.cursor-pointer.select-none.active
            span.icon-mini 活动小程序
          a(href="#server").tab.mx-2.px-4.py-2.inline-block.rounded.text-black.cursor-pointer.select-none
            span.icon-server 微信服务号
          a(href="#medium").tab.mx-2.px-4.py-2.inline-block.rounded.text-black.cursor-pointer.select-none
            span.icon-medium 专属收款渠道
          a(href="#brand").tab.mx-2.px-4.py-2.inline-block.rounded.text-black.cursor-pointer.select-none
            span.icon-brand 独立品牌形象
    .py-10
      .container
        .pt-14.pb-10.flex.flex-wrap.items-center#mini
          .w-1_2.md_w-full
            .text-color-theme.text-3xl.font-bold 属于您的活动小程序
            .mt-8.font-bold.text-2xl 微信流量红利轻松获客
            .mt-4
              span.left-tick 一体化营销
              span.left-tick 微信专属入口
              span.left-tick 微信自主收款
            .mt-8.font-bold.text-2xl 一键搭建简单轻松
            .mt-4
              span.left-tick 无需开发
              span.left-tick 自定义组件
              span.left-tick 风格定制
              span.left-tick 多种模板
            .mt-10
              a(href="/mini").btn 了解更多
              a(href="https://app.duohui.cn/signup?plan=enterprise", target="_blank").btn.solid.ml-4 立即试用
          .w-1_2.md_w-full.px-8
            img.max-w-full.md_mt-4(src="./img/enterprise/mini.svg")
        .pt-14.pb-10.flex.flex-wrap.items-center.flex-row-reverse#server
          .w-1_2.md_w-full
            .text-color-theme.text-3xl.font-bold 支持绑定微信服务号
            .mt-8.font-bold.text-2xl 更多粉丝和活动曝光
            .mt-4
              span.left-tick 购票即关注
              span.left-tick 微信消息推送
              span.left-tick 推文内嵌入活动小程序
            .mt-8.font-bold.text-2xl 启用微信快捷功能
            .mt-4
              span.left-tick 票券添加至微信卡包
              span.left-tick 订单动态通知
              span.left-tick 服务号接入客服
            .mt-10
              a(href="/wechat").btn 了解更多
              a(href="https://app.duohui.cn/signup?plan=enterprise", target="_blank").btn.solid.ml-4 立即试用
          .w-1_2.md_w-full.px-8
            img.max-w-full.md_mt-4(src="./img/enterprise/server.svg")
        .pt-14.pb-10.flex.flex-wrap.items-center#medium
          .w-1_2.md_w-full
            .text-color-theme.text-3xl.font-bold 专属收款渠道
            .mt-8.font-bold.text-2xl 绑定自有支付渠道
            .mt-4
              span.left-tick 微信收款
              span.left-tick 支付宝收款
            .mt-8.font-bold.text-2xl 资金到账更迅速
            .mt-4
              span.left-tick 无需提现
              span.left-tick 实时到账
              span.left-tick 无手续费
            .mt-10
              a(href="https://app.duohui.cn/signup?plan=enterprise", target="_blank").btn.solid 立即试用
          .w-1_2.md_w-full.px-8
            img.max-w-full.md_mt-4(src="./img/enterprise/medium.svg")
        .pt-14.pb-10.flex.flex-wrap.items-center.flex-row-reverse#brand
          .w-1_2.md_w-full
            .text-color-theme.text-3xl.font-bold 自定义品牌形象
            .mt-8.font-bold.text-2xl 和企业形象相互辉映
            .mt-4
              span.left-tick 隐藏多会品牌
              span.left-tick 品牌LOGO露出
            .mt-8.font-bold.text-2xl 增强报名者品牌认知
            .mt-4
              span.left-tick 活动页自定义布局
              span.left-tick 活动页自定义色彩
              span.left-tick 小程序自定义风格
            .mt-10
              a(href="https://app.duohui.cn/signup?plan=enterprise", target="_blank").btn.solid 立即试用
          .w-1_2.md_w-full.px-8
            img.max-w-full.md_mt-4(src="./img/enterprise/brand.svg")
    .py-20.bg-black-geo-large
      .container
        .text-center
          .text-white.text-2xl.font-bold 现在注册，立享 15 天免费试用和专属技术支持
          .mt-8.mb-12
            a.large(href="/compare").btn.white 查看定价
            a.large(href="https://app.duohui.cn/signup", target="_blank").btn.solid.ml-4 立即注册
        .black-btn-box
          include partials/_advisory.pug
    include partials/_footer.pug
    script(src='./vendor/vendor.js')
    script.
      $('body')
        .on('click', '.tabs .tab', function() {
          $(this).addClass('active').siblings().removeClass('active')
        })
        .on('init', () => {
          const $window = $(window)
          const $tabs = $('#top-tabs')
          const height = $('#top-banner').height()
          let timer = null
          $window.on('scroll', () => {
            if (!timer) {
              timer = setTimeout(() => {
                const topTouched = $window.scrollTop() > height
                if (topTouched) {
                  $tabs.addClass('top-touched')
                } else {
                  $tabs.removeClass('top-touched')
                }
                timer = 0
              }, 200)
            }
          })
        })
        .trigger('init')