doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会 - 服务电商小程序
    meta(name='description', content='生成你自己的小程序，在微信销售活动和服务。适用于线下活动、剧场演出、会议展览、景区门票、休闲美业、运动健身、教育培训等多种业务场景。')

    meta(property="og:type" content="website")
    meta(property="og:title" content="多会")
    meta(property="og:image" content="https://www.duohui.cn/img/thumbnail.png")
    meta(property="og:url" content="https://www.duohui.cn/")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="多会 - 服务电商小程序")
    meta(name="twitter:image" content="https://www.duohui.cn/img/card.png?rv=5")
    meta(property="og:description" content="生成你自己的小程序，在微信销售活动和服务。适用于线下活动、剧场演出、会议展览、景区门票、休闲美业、运动健身、教育培训等多种业务场景。")

    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/common.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/index.css?v=<!--@echo curtime -->')
    meta(name='msapplication-tap-highlight', content='no')
  body
    include partials/_header.pug
    include partials/_poster_block.pug
    .section.intro(style="padding-bottom: 20px")
      .container.pt-0.md_pt-6
        .flex.flex-col.md_flex-row.items-center.py-10.md_py-0
          .px-0.md_px-8.flex-grow
            .pb-8
              .text-center.md_text-left.text-4xl.font-semibold.md_flex.md_items-top 生成你自己的小程序
                span.text-lg.text-gray-500.ml-1 *
              .text-center.md_text-left.text-4xl.font-semibold.mt-4 在线销售票券和服务
              .text-center.md_text-left.mt-4.text-lg.text-gray-600 用多会服务电商小程序，在微信销售活动和服务。
            .action.hidden.md_block.my-2
              a.btn(href="javascript:void(0)" onclick="window.$youke('open')") 联系销售
              a.btn.solid(href='https://app.duohui.cn') 立即免费试用
            .text-center.block.md_hidden
              a.btn.solid.large(href='https://app.duohui.cn') 立即免费试用
            .text-center.md_text-left.legal-text.text-sm.text-gray-500.mt-8.md_-mb-2 * 企业版可生成专属独立小程序
          #wechat-animation
            img.max-w-full(src='./img/homepage/assets/designs/wechat-animation-placeholder.svg', alt='多会微信小程序演示动画')
      
    
    .section.white-bg.mt-4
      .container
        .text-center.text-2xl.md_text-4xl.font-semibold 通过微信销售票券和各类服务
        .mt-4.text-center.text-base.md_text-xl.text-gray-600 从线下活动到休闲健身，服务电商就用多会小程序。
        .mt-12.flex.flex-wrap.flex-row.justify-between.pb-4
          .w-1_3.md_w-1_12.text-center.pb-4
            .icon.flex.justify-center
              include ../static/img/homepage/biz-event.svg
            .mt-2.font-bold.text-lg 线下活动
          .w-1_3.md_w-1_12.text-center.pb-4
            .icon.flex.justify-center
              include ../static/img/homepage/biz-expo.svg
            .mt-2.font-bold.text-lg 会议展览
          .w-1_3.md_w-1_12.text-center.pb-4
            .icon.flex.justify-center
              include ../static/img/homepage/biz-travel.svg
            .mt-2.font-bold.text-lg 景区门票
          .w-1_3.md_w-1_12.text-center.pb-4
            .icon.flex.justify-center
              include ../static/img/homepage/biz-beauty.svg
            .mt-2.font-bold.text-lg 休闲美业
          .w-1_3.md_w-1_12.text-center.pb-4.hidden.md_block
            .icon.flex.justify-center
              include ../static/img/homepage/biz-fitness.svg
            .mt-2.font-bold.text-lg 运动健身
          .w-1_3.md_w-1_12.text-center.pb-4
            .icon.flex.justify-center
              include ../static/img/homepage/biz-edu.svg
            .mt-2.font-bold.text-lg 教育培训
          .w-1_3.md_w-1_12.text-center.pb-4
            .icon.flex.justify-center
              include ../static/img/homepage/biz-show.svg
            .mt-2.font-bold.text-lg 剧场演出

    .section.white-bg.mt-4
      .container
        .text-center.text-2xl.md_text-4xl.font-semibold 多种功能，满足多种使用场景
        .mt-4.text-center.text-base.md_text-xl.text-gray-600 多会的产品功能为活动和服务场景进行了深入优化设计。
        .mt-12.flex.flex-wrap.pb-8
          .w-full.md_w-1_2.pr-0.md_pr-4
            table.products-table.product-icons.w-full
              thead
                tr
                th(colspan="2")
                  .flex.justify-center.md_justify-start
                    .mb-0.md_mb-2.text-lg.md_text-2xl.icon-tickets 活动票务
                  .hidden.md_block 支持音乐演出、会议展览、剧场剧院等多场景售票
              tbody
                tr
                  td
                    span.icon-ticket 在线选座购票
                  td
                    span.icon-layout 模块化活动页面
                tr
                  td
                    span.icon-checkin 离线签到
                  td
                    span.icon-chart 数据报表
                tr
                  td
                    span.icon-form 自定义报名表单
                  td
                    span.icon-bulb 多种营销工具
                tr
                  td
                    span.icon-order 订单导入导出
                  td
                    span.icon-refund 自定义退款规则
              tfoot
                tr
                  td(colspan="2")
                    .hidden.md_block
                      a.w-full.btn.large(href="/event") 了解更多
                    a.text-theme-blue.font-semibold.inline-block.md_hidden(href="/event") 了解更多
          .w-full.md_w-1_2.pl-0.md_pl-4.mt-6.md_mt-0
            table.products-table.product-icons.w-full
              thead
                tr
                th(colspan="2")
                  .flex.justify-center.md_justify-start
                    .mb-0.md_mb-2.text-lg.md_text-2xl.icon-pin 服务预订
                  .hidden.md_block 专为休闲健身、景区旅游等日常服务场景设计
              tbody
                tr
                  td
                    span.icon-useage 每日库存
                  td
                    span.icon-scene 多场次功能
                tr
                  td
                    span.icon-entrance 多种入口
                  td
                    span.icon-medium 渠道功能
                tr
                  td
                    span.icon-code 自定义票码
                  td
                    span.icon-writeoff 多次核销功能
                tr
                  td
                    span.icon-coupon 优惠促销
                  td
                    span.icon-data 服务数据统计
              tfoot
                tr
                  td(colspan="2")
                    .hidden.md_block
                      a.w-full.btn.large(href="/service") 了解更多
                    a.text-theme-blue.font-semibold.inline-block.md_hidden(href="/service") 了解更多
    
    .section.white-bg.mt-12
      .container.overflow-hidden
        .text-center.text-2xl.md_text-4xl.font-semibold 专属微信营销工具
        .mt-4.text-center.text-base.md_text-xl.text-gray-600 用多会快速搭建小程序，获取微信流量红利。
        .mt-12.flex.flex-wrap.-mx-8.px-4.md_px-0.weixin-tools
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-mp
            .mt-4.font-bold.text-lg 专属小程序
            .mt-2.text-gray-600.text-left 小程序卡片、下拉菜单、发现页等多种专属入口轻松获客。
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-marketing
            .mt-4.font-bold.text-lg 一体化营销
            .mt-2.text-gray-600.text-left 公众号、小程序、微信群互联互通，流量转化快速高效。
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-pay
            .mt-4.font-bold.text-lg 自有支付
            .mt-2.text-gray-600.text-left 配置自有微信支付商户账户，自主收款，资金直接到账。
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-notification
            .mt-4.font-bold.text-lg 实时推送购票信息
            .mt-2.text-gray-600.text-left 用户可在微信上实时收取订单和票种的动态信息。
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-pocket
            .mt-4.font-bold.text-lg 支持微信卡包
            .mt-2.text-gray-600.text-left 可将电子票添加到微信卡包，查找验票更便捷。
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-server
            .mt-4.font-bold.text-lg 智能客服
            .mt-2.text-gray-600.text-left 可在服务号添加智能客服，提高和顾客的沟通效率。
        .text-center.hidden.md_block
          a.btn.solid.large(href="https://app.duohui.cn", target="_blank") 立即试用
          a.btn.large.ml-4(href="/mini") 了解更多
        .text-center.block.md_hidden
          a.btn.large.ml-4(href="/mini") 了解更多
    .section.white-bg.mt-12.mb-4
      .container
        .text-center.text-2xl.md_text-4xl.font-semibold 超多成功案例，丰富行业经验
        .mt-4.text-center.text-base.md_text-xl.text-gray-600 成立 4 年，多会已服务来自各行各业的 7000 多家优秀品牌。
        .mt-12.flex.flex-wrap
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-1.png', srcset='./img/partners/clients-1@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-2.png', srcset='./img/partners/clients-2@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-3.png', srcset='./img/partners/clients-3@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-4.png', srcset='./img/partners/clients-4@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-5.png', srcset='./img/partners/clients-5@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-6.png', srcset='./img/partners/clients-6@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-7.png', srcset='./img/partners/clients-7@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-8.png', srcset='./img/partners/clients-8@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-9.png', srcset='./img/partners/clients-9@2x.png 2x', alt='多会客户列表')
          .w-full.md_w-1_2.my-1
            img.mx-auto(src='./img/partners/clients-10.png', srcset='./img/partners/clients-10@2x.png 2x', alt='多会客户列表')
    .section.white-bg.mt-12.mb-12.hidden.md_block
      include partials/_advisory.pug
    .section.bg-blue-geo
      .container.text-center
        h2.mt-8.text-2xl.font-semibold.hidden.md_block 现在注册，立享 15 天免费试用和专属技术支持
        h2.mt-8.text-2xl.font-semibold.block.md_hidden 现在注册，立享 15 天免费试用
        .mt-6.hidden.md_block
          a.btn(href="https://app.duohui.cn", target="_blank") 立即试用
          a.btn.solid.ml-4(href="/compare") 查看定价
        .mt-10.block.md_hidden
          a.btn.solid.large(href="https://app.duohui.cn/signup", target="_blank") 立即注册
    include partials/_footer.pug
    script(src="./vendor/HaikuCore.5.1.1.min.js")
    script(src="./img/homepage/wechat-animation.js")
    script.
      dhWechatAnimation(
        document.getElementById('wechat-animation'),
        {loop: true}
      )
    //- TODO: need sign
    //- script(src="//res.wx.qq.com/open/js/jweixin-1.0.0.js")
    //- script.
    //-   wx.ready(function(){
    //-     wx.onMenuShareTimeline({
    //-       title: "多会 - 你的专属活动平台",
    //-       desc: "多会为主办方提供技术支持，帮助主办方建设属于自己的活动平台。现在注册，可获得专属的活动小程序。",
    //-       link: "https://duohui.co",
    //-       imgUrl: "https://duohui.co/img/thumbnail.png"
    //-     })
    //-     wx.onMenuShareAppMessage({
    //-       title: "多会 - 你的专属活动平台",
    //-       desc: "多会为主办方提供技术支持，帮助主办方建设属于自己的活动平台。现在注册，可获得专属的活动小程序。",
    //-       link: "https://duohui.co",
    //-       imgUrl: "https://duohui.co/img/thumbnail.png"
    //-     })
    //-   })