doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会 - 新一代活动票务系统
    meta(name='description', content='多会是新一代的活动票务系统。通过多会轻松管理活动报名，在线售票收款，现场快速签到。办活动从未如此轻松！')

    meta(property="og:type" content="website")
    meta(property="og:title" content="多会")
    meta(property="og:description" content="新一代的活动票务系统")
    meta(property="og:image" content="https://www.duohui.cn/img/thumbnail.png")
    meta(property="og:url" content="https://www.duohui.cn/")

    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/common.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/tailwind.fake.css')
    link(rel='stylesheet', type='text/css', href='./styles/index.css?v=<!--@echo curtime -->')
    meta(name='msapplication-tap-highlight', content='no')
  body
    include partials/_header.pug
    include partials/_poster_block.pug
    .section.intro
      .slogan-demo.container.pt-12
        .slogan
          .hello
            h1.mt-0 新一代活动票务系统
            p 售票功能强大，适用于多种活动与服务场景，线上线下可同步售票。
          .action
            a.btn(href="javascript:void(0)" onclick="window.$youke('open')") 联系销售
            a.btn.solid(href='https://app.duohui.cn') 立即试用
        .demo
          img(src='./img/banner.svg', alt='体验购票')
    .section.white-bg.mt-12
      .container
        .title 多种产品，满足众多活动形式
        .subtitle 可根据使用场景选择最适合的产品
        .mt-12.flex
          table.products-table
            thead
              tr
              th(colspan="2")
                .mb-2.text-2xl.icon-tickets 活动票务
                span 支持音乐演出、会议展览、剧场剧院等多场景售票
            tbody
              tr
                td
                  span.icon-ticket 在线选座购票
                td
                  span.icon-layout 模块化活动页面
              tr
                td
                  span.icon-checkin 离线签到
                td
                  span.icon-chart 数据报表
              tr
                td
                  span.icon-form 自定义报名表单
                td
                  span.icon-bulb 多种营销工具
              tr
                td
                  span.icon-order 订单导入导出
                td
                  span.icon-refund 自定义退款规则
            tfoot
              tr
                td(colspan="2")
                  a.btn 了解更多
          table.products-table
            thead
              tr
              th(colspan="2")
                .mb-2.text-2xl.icon-pin 服务预订
                span 专为休闲健身、景区旅游等日常服务场景设计
            tbody
              tr
                td
                  span.icon-useage 自定票种使用次数
                td
                  span.icon-scene 多场次功能
              tr
                td
                  span.icon-entrance 多种入口
                td
                  span.icon-medium 渠道功能
              tr
                td
                  span.icon-code 自定义票码
                td
                  span.icon-wirteoff 多次核销功能
              tr
                td
                  span.icon-coupon 优惠促销
                td
                  span.icon-data 服务数据统计
            tfoot
              tr
                td(colspan="2")
                  a.btn 了解更多
    .section.white-bg.mt-12
      .container
        .title 为每个主办方提供专属微信营销工具
        .subtitle 快速搭建小程序，获取微信流量红利
        .mt-12.flex.flex-wrap.weixin-tools
          .text-center
            .icon-mp
            .mt-4.font-bold.text-lg 专属小程序
            .mt-2.text-gray-600 小程序卡片、下拉菜单、发现页等多种专属入口轻松获客
          .text-center
            .icon-marketing
            .mt-4.font-bold.text-lg 一体化营销
            .mt-2.text-gray-600 公众号、小程序、微信群互联互通，流量转化快速高效
          .text-center
            .icon-pay
            .mt-4.font-bold.text-lg 自有支付
            .mt-2.text-gray-600 配置自有微信支付商户账户，自主收款，资金直接到账
          .text-center
            .icon-notification
            .mt-4.font-bold.text-lg 实时推送购票信息
            .mt-2.text-gray-600 用户可在微信上实时收取订单和票种的动态信息
          .text-center
            .icon-pocket
            .mt-4.font-bold.text-lg 支持微信卡包
            .mt-2.text-gray-600 支持微信卡包
          .text-center
            .icon-server
            .mt-4.font-bold.text-lg 智能客服
            .mt-2.text-gray-600 可在服务号添加智能客服，提高和顾客的沟通效率
        .text-center
          a.btn.solid(href="https://app.duohui.cn", target="_blank") 立即试用
          a.btn.ml-4 了解更多


    .section.white-bg.mt-12
      .container
        .title 超多成功案例，丰富行业经验
        .subtitle 丰富的成功案例让我们积累了更多行业经验
        .logowall.mt-12
          .columns.i2.clients
            .column.col-md-6.col-12
              img(src='./img/partners/clients-1.png', srcset='./img/partners/clients-1@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-2.png', srcset='./img/partners/clients-2@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-3.png', srcset='./img/partners/clients-3@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-4.png', srcset='./img/partners/clients-4@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-5.png', srcset='./img/partners/clients-5@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-6.png', srcset='./img/partners/clients-6@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-7.png', srcset='./img/partners/clients-7@2x.png 2x', alt='多会客户列表')
            .column.col-md-6.col-12
              img(src='./img/partners/clients-8.png', srcset='./img/partners/clients-8@2x.png 2x', alt='多会客户列表')
    .mt-12.mb-12
      include partials/_advisory.pug

    .section.bg-blue-geo
      .container.text-center
        h2.mt-8.text-2xl 现在注册，立享 15 天免费试用和专属技术支持
        .mt-6
          a.btn(href="https://app.duohui.cn", target="_blank") 立即试用
          a.btn.solid.ml-4(href="/compare") 查看定价

    //- .section.events
    //-   .container
    //-     h1.chtitle 服务案例
    //-     -
    //-       var events = [
    //-         {"poster": "pingwest-hay.png", "title": "HAY! 17 PingWest 年度数字嘉年华", "date": "12月16日", "location": "北京", "link": "http://hay.pingwest.com/"},
    //-         {"poster": "gnome.png", "title": "GNOME Asia 2017 亚洲峰会", "date": "10月14日", "location": "重庆", "link": "https://wx.duohui.co/event/1390"},
    //-         {"poster": "rubyconf.png", "title": "RubyConf China 2017", "date": "09月16日", "location": "杭州", "link": "https://wx.duohui.co/event/1251"},
    //-       ]
    //-     .columns
    //-       each event in events
    //-         .column.col-md-4.col-12
    //-           +poster(event)

    //-     a.more-events(href='/customers') 查看更多服务案例
    include partials/_footer.pug
    //- TODO: need sign
    //- script(src="//res.wx.qq.com/open/js/jweixin-1.0.0.js")
    //- script.
    //-   wx.ready(function(){
    //-     wx.onMenuShareTimeline({
    //-       title: "多会 - 你的专属活动平台",
    //-       desc: "多会为主办方提供技术支持，帮助主办方建设属于自己的活动平台。现在注册，可获得专属的活动小程序。",
    //-       link: "https://duohui.co",
    //-       imgUrl: "https://duohui.co/img/thumbnail.png"
    //-     })
    //-     wx.onMenuShareAppMessage({
    //-       title: "多会 - 你的专属活动平台",
    //-       desc: "多会为主办方提供技术支持，帮助主办方建设属于自己的活动平台。现在注册，可获得专属的活动小程序。",
    //-       link: "https://duohui.co",
    //-       imgUrl: "https://duohui.co/img/thumbnail.png"
    //-     })
    //-   })