doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会 - 专业活动管理系统
    meta(name='description', content='通过多会轻松管理活动报名，在线售票收款，现场快速签到。办活动从未如此轻松！')
    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css')
    link(rel='stylesheet', type='text/css', href='./styles/common.css')
    link(rel='stylesheet', type='text/css', href='./styles/tailwind.fake.css')
    link(rel='stylesheet', type='text/css', href='./styles/mini.css')
    meta(name='msapplication-tap-highlight', content='no')
  body
    include partials/_header.pug
    .section(style="background:#ECF8F1;")
      .slogan-demo.container.pt-12.flex.items-center
        .slogan
          .hello
            h1.mt-0.mb-0 多会小程序
            p.mt-2 为每个主办方提供专属小程序
          .action
            a.btn(href="javascript:void(0)" onclick="window.$youke('open')") 联系销售
            a.btn.solid(href='https://app.duohui.cn') 立即试用
        .demo
          img(src='', alt='home')
    .py-20
      .container
        .title 聚集微信流量 助您轻松获客 
        .subtitle 流量红利助你轻松获客、裂变、复购
        .mt-12.flex.flex-wrap.weixin-tools
          .text-center
            .icon-mp
            .mt-4.font-bold.text-lg 专属入口
            .mt-2.text-gray-600 小程序卡片、下拉菜单、发现页等多种专属入口轻松获客
          .text-center
            .icon-marketing
            .mt-4.font-bold.text-lg 一体化营销
            .mt-2.text-gray-600 公众号、小程序、微信群互联互通，流量转化快速高效
          .text-center
            .icon-pay
            .mt-4.font-bold.text-lg 自有支付
            .mt-2.text-gray-600 配置自有微信支付商户账户，自主收款，资金直接到账
    .py-20
      .container
        .title 多种模版组件 一键快速搭建
        .subtitle 快速搭建的同时满足您多样的需求
        .flex.items-center.mt-12
          .vertical-tabs.w-half.pr-4
            .tab.rounded.mb-2.p-2.cursor-pointer.select-none.active
              .text-lg.font-bold 多种模版
              .tab-desc.text-sm 一键使用行业模板，快速上线更省心
            .tab.rounded.mb-2.p-2.cursor-pointer.select-none
              .text-lg.font-bold 自定义组件
              .tab-desc.text-sm 多种自定义组件，可灵活配置小程序页面
            .tab.rounded.mb-2.p-2.cursor-pointer.select-none
              .text-lg.font-bold 风格定制
              .tab-desc.text-sm 主题LOGO、背景样式、图标色自由搭配
            .tab.rounded.mb-2.p-2.cursor-pointer.select-none
              .text-lg.font-bold 分类导航
              .tab-desc.text-sm 自定义底菜单、图片导航，分类展示
            .tab.rounded.mb-2.p-2.cursor-pointer.select-none
              .text-lg.font-bold 可拓展模块
              .tab-desc.text-sm 拼团、评价收集等模块，拓展营销方式
          .half
            img.vertical-tab-img.active(src="", alt="1")
            img.vertical-tab-img(src="", alt="2")
            img.vertical-tab-img(src="", alt="3")
            img.vertical-tab-img(src="", alt="4")
            img.vertical-tab-img(src="", alt="5")
            
    .py-20
      .container
        .title 多样营销方案 获取更多客源
        .subtitle 强大的营销功能助力商家成功
        .mt-12.flex.flex-wrap.bottom-tools
          .text-center
            .icon-share
            .mt-4.font-bold.text-lg 裂变营销
            .mt-2.text-gray-600 多人拼团，海报分享，快速裂变分享传播
          .text-center
            .icon-promotion
            .mt-4.font-bold.text-lg 多样促销
            .mt-2.text-gray-600 优惠券码、满折/满减、限时特惠等多样促销手段
          .text-center
            .icon-vip
            .mt-4.font-bold.text-lg 会员复购
            .mt-2.text-gray-600 会员年卡/季卡/月卡，多样会员玩法，提高复购率
          .text-center
            .icon-customer
            .mt-4.font-bold.text-lg 客户留存
            .mt-2.text-gray-600 微信消息推送，评价邀请，唤醒潜在用户，增强用户粘性
    .section.white-bg.mt-12
      .container
        .title 超多成功案例 丰富行业经验
        .subtitle 丰富的成功案例让我们积累了更多行业经验
        .case-list.mt-12
          .list-item.active
            .item-avatar(style="background-image: url('./img/cases/sketchmeetup.jpg')")
            .item-main
              .main-prev
              .main-detail
                .detail-title
                  //- img(src="./img/cases/event-jidian-logo.png")
                  span Sketch Meetup
                .detail-description 
              .main-next
          .list-item
            .item-avatar(style="background-image: url('./img/cases/teambitionevent.jpg')")
            .item-main
              .main-prev
              .main-detail
                .detail-title
                  //- img(src="./img/cases/event-huxiu-logo.png")
                  span 敏捷创新之旅
                .detail-description
              .main-next
          .list-item
            .item-avatar(style="background-image: url('./img/cases/pingtalk.jpg')")
            .item-main
              .main-prev
              .main-detail
                .detail-title
                  //- img(src="./img/cases/event-huxiu-logo.png")
                  span Ping-Talk
                .detail-description
              .main-next
    .section.white-bg.mt-12.mb-12
      include partials/_advisory.pug
    .section.bg-green-geo
      .container.text-center
        h2.mt-8.text-2xl 现在注册，立享 15 天免费试用和专属技术支持
        .mt-6
          a.btn(href="https://app.duohui.cn", target="_blank") 立即试用
          a.btn.solid.ml-4(href="/compare") 查看定价
    include partials/_footer.pug
    script(src='./vendor/vendor.js')
    script.
      $('body')
        .on('click', '.case-list .main-prev, .case-list .main-next', function() {
          const $this = $(this)
          const isPrev = $this.hasClass('main-prev')
          const currentIndex = $this.parents('.list-item').index()
          const items = $this.parents('.case-list').find('.list-item')
          const count = items.length
          let showIndex = currentIndex + (isPrev ? -1 : 1)
          if (showIndex > count - 1) showIndex = 0
          if (showIndex < 0 ) showIndex = count - 1
          items.removeClass('active')
          $(items[showIndex]).addClass('active')
        })
        .on('click', '.vertical-tabs .tab', function() {
          const $this = $(this)
          const index = $this.index()
          $this.addClass('active').siblings().removeClass('active')
          $('.vertical-tab-img').eq(index).addClass('active').siblings().removeClass('active')
        })