doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会现场互动 - 多会
    meta(name='description', content='生成你自己的小程序，在微信销售活动和服务。适用于线下活动、会议展览、景区门票、休闲美业、运动健身、教育培训等多种业务场景。')
    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css')
    link(rel='stylesheet', type='text/css', href='./styles/common.css')
    link(rel='stylesheet', type='text/css', href='./styles/product.css')
    link(rel='stylesheet', type='text/css', href='./styles/onsite.css')
    meta(name='msapplication-tap-highlight', content='no')
  body
    - 
      var product = {
        code: "onsite"
      }
    include partials/_header.pug

    .section.product-head
      .container.intro
        .clear
          .product-name
            .product-icon
              img(src="./img/product/product-std.png" srcset="./img/product/product-std@2x.png 2x")
            h1 多会现场互动
          ul.nav.clear
            li: a(href='#features') 微信签到
            li: a(href='#pricing') 现场投票
            li: a(href='#faq') 现场抽奖
            li: a(href='#cases') 大屏评论

    .section.activity
      .container
        .hello
          h1 微信签到墙
          p 微信扫码签到，即刻上墙。
        ul.introduct
          li 可自定义大屏幕背景
          li 支持填写姓名签到
          li 自动获取微信头像昵称
        .action
          a.btn.contact(href="javascript:void(0)") 查看演示
          a.btn.solid.try(href='/app/') 立即试用
        .tv
          img(src="/img/onsite/preview_lottery.gif")
        .dock

    .section.activity
      .container
        .hello
          h1 现场抽奖
          p 活跃现场气氛，点击即用。
        ul.introduct
          li 可定制的抽奖方案
          li 现实中奖人的任何信息
          li 自动获取入场用户
        .action
          a.btn.contact(href="javascript:void(0)") 查看演示
          a.btn.solid.try(href='/app/') 立即试用
        .tv
          img(src="/img/onsite/preview_lottery.gif")
        .dock

    include partials/_footer.pug
