extends partials/_product.pug

block vars
  -
    var product = {
      code: "prime",
      name: "高级版",
      title: "多会高级版 - 服务电商小程序",
      tagline: "专业活动主办方的专业之选",
      desc: "多会高级版包含了众多活动管理的贴心功能，是专业活动主办方的最佳选择。",
      features: [
        {'icon': 'sms', 'titile': '免费短信通知', 'desc': '购票后系统自动发送出票短信通知。高级版用户每月免费获赠 500 条短信额度。'},
        {'icon': 'coupon', 'titile': '配置优惠券', 'desc': '为活动设置优惠券。可指定折扣方式，限制优惠券的可用票种，限制优惠券使用次数等。'},
        {'icon': 'embed', 'titile': '多种活动入口', 'desc': '提供二维码、小程序码、网页链接等多种活动入口，支持多平台同步售票。'},
        {'icon': 'payment', 'titile': '多种支付方式', 'desc': '支持支付宝和微信支付。另外还可通过 PayPal 接收美元付款。'},
        {'icon': 'lang', 'titile': '多语言支持', 'desc': '为活动创建中英文版本，并可根据用户的设备语言自动选择。'},
        {'icon': 'form', 'titile': '自定义报名表', 'desc': '根据活动报名需求自定义报名表单，支持文本、图片、单选、多选等多种表单项。'},
        {'icon': 'export', 'titile': '导出报名表', 'desc': '可导出完整的报名数据，支持 Excel 和 CSV 格式。'},
        {'icon': 'review', 'titile': '审核报名', 'desc': '支持设置需审核的票种，根据报名信息审核后再出票。'},
        {'icon': 'scene', 'titile': '多场次签到', 'desc': '支持分会场、VIP 区域等有多个场次的活动场景。'},
      ],
      price: {
        basic: "1,799 <span>元 / 年</span>",
        monthly: "249 <span>元 / 月</span>",
        basic_desc: "包含所有高级功能，包括邀请函、渠道管理、活动列表等。",
        fee: "1%",
        fee_desc: "免费票完全免费。付费票订单收取订单金额 1% 的支付手续费。",
        save_percent: 62
      },
      faqs: [
        {'q': '高级版到期之后活动还能访问吗？', 'a': '可以的。高级版到期不会影响您的数据和用户访问，我们只会对新建活动进行限制，其他功能不会做限制。'},
        {'q': '免费的短信额度用完之后还能发短信吗？', 'a': '当然可以。我们为标准版用户每月免费赠送 500 条短信额度。如果免费额度用完之后，可以按 0.1 元／条短信的价格购买短信额度。'},
        {'q': '用户退票会产生费用吗？', 'a': '不会。用户支付的款项将原路退回，不会产生任何费用。退款操作直接通过支付渠道的退款接口完成，一般会即刻处理。'},
        {'q': '我可以试用高级版吗？', 'a': '可以。我们为所有新注册的用户都提供了 15 天免费试用，试用满意再付费购买。'},
      ],
      cases: [
        {'img': 'zizai.png', 'event': '字在生活节', 'logo': 'china30s', 'tags': [{'name': '分享', 'style': 'design'}, {'name': '市集', 'style': 'solid'}]},
        {'img': 'appmarketing.png', 'event': '应用运营推广公开课', 'logo': 'ngbj', 'tags': [{'name': '运营', 'style': 'design'}, {'name': '品牌活动', 'style': 'lined'}]},
        {'img': 'punkeek.png', 'event': '協作派對的派對', 'logo': 'networkparty', 'tags': [{'name': '派对', 'style': 'lined'}, {'name': '现场娱乐', 'style': 'sport'}]}
      ]
    }