extends partials/_product.pug

block vars
  -
    var product = {
      code: "std",
      name: "标准版",
      tagline: "简单易用，小型活动的最佳选择",
      desc: "多会是专业的活动小程序系统。通过多会轻松管理活动报名，在线售票收款，现场快速签到。",
      features: [
        {'icon': 'sms', 'titile': '免费短信通知', 'desc': '购票后系统自动发送出票短信通知。标准版用户每月免费获赠 100 条短信额度。'},
        {'icon': 'tickets', 'titile': '支持设置多个票种', 'desc': '支持设置最多3个票种，可分别设置库存、票价和说明。还可为票种配置场次。'}
      ],
      price: {
        basic: "免费",
        basic_desc: "基础功能免费使用，包括活动发布、多票种、优惠券、短信通知、多语言等。",
        fee: "1元+1%",
        fee_desc: "对于每个付费票订单，收取一元加订单金额的 1% 作为售票手续费。",
        save_percent: 62
      },
      faqs: [
        {'q': '免费的短信额度用完之后还能发短信吗？', 'a': '当然可以。我们为标准版用户每月免费赠送 100 条短信额度。如果免费额度用完之后，可以按 0.1 元／条短信的价格购买短信额度。'},
        {'q': '免费的短信额度用完之后还能发短信吗？', 'a': '当然可以。我们为标准版用户每月免费赠送 100 条短信额度。如果免费额度用完之后，可以按 0.1 元／条短信的价格购买短信额度。'}
      ],
      cases: [
        {'img': 'eico.png', 'event': 'EICO Talk', 'logo': 'eico', 'tags': [{'name': '设计', 'style': 'design'}, {'name': '分享会', 'style': 'solid'}]},
        {'img': 'anyway.png', 'event': 'Anyway Meetup', 'logo': 'anyway', 'tags': [{'name': '设计', 'style': 'design'}, {'name': '粉丝聚会', 'style': 'lined'}]},
        {'img': 'shopbop.png', 'event': '#瘦身大作战', 'logo': 'shopbop', 'tags': [{'name': '品牌活动', 'style': 'lined'}, {'name': '运动健身', 'style': 'sport'}]}
      ]
    }