extends partials/_product.pug

block vars
  -
    var product = {
      code: "std",
      name: "标准版",
      title: "多会标准版 - 简单易用的活动报名系统",
      tagline: "简单易用，小型活动优选解决方案",
      desc: "多会是专业的活动小程序系统。通过多会轻松管理活动报名，在线售票收款，现场快速签到。",
      features: [
        {'icon': 'sms', 'titile': '免费短信通知', 'desc': '购票后系统自动发送出票短信通知。标准版用户每月免费获赠 100 条短信额度。'},
        {'icon': 'tickets', 'titile': '支持设置多个票种', 'desc': '支持设置最多3个票种，可分别设置库存、票价和说明。'},
        {'icon': 'coupon', 'titile': '配置优惠券', 'desc': '为活动设置优惠券。可指定折扣方式，限制优惠券的可用票种，限制优惠券使用次数等。'},
        {'icon': 'payment', 'titile': '多种支付方式', 'desc': '同时支持支付宝和微信支付，支付快捷方便。'},
        {'icon': 'form', 'titile': '自定义报名表', 'desc': '根据活动报名需求自定义报名表单，支持文本、图片、单选、多选等多种表单项。'},
        {'icon': 'export', 'titile': '导出报名表', 'desc': '可导出完整的报名数据，支持 Excel 和 CSV 格式。'},
      ],
      price: {
        basic: "299 <span>元 / 年</span>",
        monthly: "49 <span>元 / 月</span>",
        basic_desc: "包含基础功能，包括活动发布、多票种、优惠券、短信、导入导出等。",
        fee: "1元+1%",
        fee_desc: "免费票完全免费。付费票订单收取一元加订单金额的 1% 作为售票手续费。",
        save_percent: 38
      },
      faqs: [
        {'q': '免费的短信额度用完之后还能发短信吗？', 'a': '当然可以。我们为标准版用户每月免费赠送 100 条短信额度。如果免费额度用完之后，可以按 0.1 元／条短信的价格购买短信额度。'},
        {'q': '用户退票会产生费用吗？', 'a': '不会。用户支付的款项将原路退回，不会产生任何费用。退款操作直接通过支付渠道的退款接口完成，一般会即刻处理。'},
      ],
      cases: [
        {'img': 'eico.png', 'event': 'EICO Talk', 'logo': 'eico', 'tags': [{'name': '设计', 'style': 'design'}, {'name': '分享会', 'style': 'solid'}]},
        {'img': 'anyway.png', 'event': 'Anyway Meetup', 'logo': 'anyway', 'tags': [{'name': '设计', 'style': 'design'}, {'name': '粉丝聚会', 'style': 'lined'}]},
        {'img': 'shopbop.png', 'event': '#瘦身大作战', 'logo': 'shopbop', 'tags': [{'name': '品牌活动', 'style': 'lined'}, {'name': '运动健身', 'style': 'sport'}]}
      ]
    }