doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会 - 新一代活动管理系统
    meta(name='description', content='多会是新一代的活动票务系统。通过多会轻松管理活动报名，在线售票收款，现场快速签到。办活动从未如此轻松！')

    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css')
    link(rel='stylesheet', type='text/css', href='./styles/common.css?v=<!--@echo curtime -->')
    link(rel='stylesheet', type='text/css', href='./styles/success.css?v=<!--@echo curtime -->')
    meta(name='msapplication-tap-highlight', content='no')
  
  body
    .container
      .high5
        i.icon: img(src="./img/icon/high5.png" srcset="./img/icon/high5@2x.png 2x")
        h3 提交成功！我们已经收到了您提交的信息。
        p 一般来说，我们会在 24 小时内与您取得联系。如果有紧急联系的需求，您也可以直接致电 021-80370533 来联系我们。
      .actions
        a.btn.solid(href='/') 好的，谢谢
        a.link(href='/') ← 返回多会网站