doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')
    title 多会 - 服务电商小程序
    meta(name='description', content='生成你自己的小程序，在微信销售活动和服务。适用于线下活动、会议展览、景区门票、休闲美业、运动健身、教育培训等多种业务场景。')
    link(rel='stylesheet', type='text/css', href='./vendor/vendor.css')
    link(rel='stylesheet', type='text/css', href='./styles/common.css')
    link(rel='stylesheet', type='text/css', href='./styles/wechat.css')
    meta(name='msapplication-tap-highlight', content='no')
  body
    include partials/_header.pug
    .pt-10(style="background:#ECF8F1;")
      .container.pt-12.md_py-10.flex.items-center
        .pr-0.md_pr-8.flex-grow
          .pb-8
            .text-4xl.font-semibold 微信服务号
            .mt-4.text-xl.text-gray-600 结合微信公众号，直接售票给微信公众号粉丝，报名即关注。
            img.mt-8.max-w-full.block.md_hidden(src='./img/banner/wechat.svg', alt='home')
          .action.mt-12
            a.btn.green(href="javascript:void(0)" onclick="window.$youke('open')") 联系销售
            a.btn.solid.green(href='https://app.duohui.cn') 立即试用
        .hidden.md_block.text-zero
          img.max-w-full(src="./img/banner/wechat.svg", alt="banner")
    .py-20
      .container.overflow-hidden
        .text-center.text-4xl.font-semibold 聚集微信流量 助您轻松获客
        .mt-4.text-center.text-xl.text-gray-600 流量红利助你轻松获客、裂变、复购
        .mt-12.-mx-8.px-4.md_px-0.flex.flex-wrap.weixin-tools
          .px-4.md_px-8.w-1_2.md_w-1_4.text-center
            .icon-fans
            .mt-4.font-bold.text-lg 快速涨粉
            .mt-2.text-gray-600 用户购票时关注公众号，为公众平台吸粉，沉淀粉丝
          .px-4.md_px-8.w-1_2.md_w-1_4.text-center
            .icon-send
            .mt-4.font-bold.text-lg 实时推送购票信息
            .mt-2.text-gray-600 用户可在微信上实时收取订单和票种动态信息
          .px-4.md_px-8.w-1_2.md_w-1_4.text-center
            .icon-card
            .mt-4.font-bold.text-lg 支持微信卡包
            .mt-2.text-gray-600 票券、会员卡可添加至微信卡包，核销使用更快捷
          .px-4.md_px-8.w-1_2.md_w-1_4.text-center
            .icon-talk
            .mt-4.font-bold.text-lg 智能客服
            .mt-2.text-gray-600 可在服务号添加智能客服，方便与用户沟通
    .py-20
      .container
        .text-center.text-4xl.font-semibold 绑定微信服务号，启用更多快捷功能
        .mt-4.text-center.text-xl.text-gray-600 用户购票更快捷并提升流量转化
        .flex.flex-wrap.items-center.mt-12
          .vertical-tabs.md_border-none.w-full.md_w-1_2.pr-0.md_pr-8
            .tab.rounded.mb-2.p-4.cursor-pointer.select-none.active
              .text-lg.font-bold.icon-template 订单动态通知
              .tab-desc.mt-2.text-sm 订单动态直接推送至用户微信
            .tab.rounded.mb-2.p-4.cursor-pointer.select-none
              .text-lg.font-bold.icon-component 推文嵌入小程序
              .tab-desc.mt-2.text-sm 推文可无缝直达购票页面
            .tab.rounded.mb-2.p-4.cursor-pointer.select-none
              .text-lg.font-bold.icon-style 服务号菜单入口
              .tab-desc.mt-2.text-sm 支持在服务号菜单内设置多种功能入口
            .tab.rounded.mb-2.p-4.cursor-pointer.select-none
              .text-lg.font-bold.icon-navigation 购票后关注公众号
              .tab-desc.mt-2.text-sm 购票即关注，获取更多粉丝流量
          .w-full.md_w-1_2.flex.items-center.justify-img-right
            img.vertical-tab-img.max-w-full.active(src="./img/wechat/notification.svg", alt="1")
            img.vertical-tab-img.max-w-full(src="./img/wechat/mini.svg", alt="2")
            img.vertical-tab-img.max-w-full(src="./img/wechat/entrance.svg", alt="3")
            img.vertical-tab-img.max-w-full(src="./img/wechat/focus.svg", alt="4")

    .py-20
      .container.overflow-hidden
        .text-center.text-4xl.font-semibold 多样营销方案 获取更多客源
        .mt-4.text-center.text-xl.text-gray-600 强大的营销功能助力商家成功
        .mt-12.-mx-8.px-4.md_px-0.flex.justify-center.flex-wrap.bottom-tools
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-entrance
            .mt-4.font-bold.text-lg 专属入口
            .mt-2.text-gray-600 小程序卡片、下拉菜单、发现页等多种专属入口轻松获客
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-market
            .mt-4.font-bold.text-lg 一体化营销
            .mt-2.text-gray-600 公众号、小程序、微信群互联互通，流量转化快速高效
          .px-4.md_px-8.w-1_2.md_w-1_3.text-center
            .icon-pay
            .mt-4.font-bold.text-lg 自有支付
            .mt-2.text-gray-600 配置自有微信支付商户账户，自主收款，资金直接到账
    .section.white-bg.mt-12
      .container
        .text-center.text-4xl.font-semibold 超多成功案例 丰富行业经验
        .mt-4.text-center.text-xl.text-gray-600 强大的报名功能，同时为线上编程比赛和线下研讨会提供支持
        .case-list.mt-12
          .list-item.active
            .item-avatar(style="background-image: url('./img/cases/zxqh.png')")
            .item-main
              .main-prev
              .main-detail
                .detail-title
                  //- img(src="./img/cases/.png")
                  span 中信期货
                .detail-description
                  p.mb-2 中信期货有限公司成立于1993年3月30日。公司业务范围包括商品期货经纪、金融期货经纪、期货投资咨询、资产管理、基金销售。
                  p.mb-2 公司总部设在深圳，在北京、上海、广州、杭州等大中城市设有47家分支机构，同时拥有356家证券IB服务网点，业务范围覆盖全国。
                  p.mb-2 2018年4月至今，中信各地分支机构举办了数百场活动，多会为其提供了稳定高效的活动管理系统技术支持。
              .main-next
          .list-item
            .item-avatar(style="background-image: url('./img/cases/saidou.jpg')")
            .item-main
              .main-prev
              .main-detail
                .detail-title
                  //- img(src="./img/cases/.png")
                  span 赛豆青年赛事平台
                .detail-description
                  p.mb-2 赛豆是【西瓜创客】旗下的赛事平台，专注 6~16 岁青少年教育部认可、行业内权威、国际认证等国内外优质赛事。
                  p.mb-2 赛豆的主要任务是帮助选择有价值的国内外比赛，为小创客们提供赛事的资讯和参加方式，以便小创客们可以有效地获得更高价值的编程赛事证书。
                  p.mb-2 多会为其提供报名系统，自定义表单功能支持多种类型报名表单，关联服务号轻松管理赛事报名。
              .main-next
    .section.white-bg.mt-12.mb-12.green-btn-box
      include partials/_advisory.pug
    .section.bg-green-geo
      .container.text-center
        h2.mt-8.text-2xl.font-semibold.hidden.md_block 现在注册，立享 15 天免费试用和专属技术支持
        h2.mt-8.text-2xl.font-semibold.block.md_hidden 现在注册，立享 15 天免费试用
        .mt-6.hidden.md_block
          a.btn.green(href="https://app.duohui.cn", target="_blank") 立即试用
          a.btn.solid.green.ml-4(href="/compare") 查看定价
        .mt-10.block.md_hidden
          a.btn.solid.green.large(href="https://app.duohui.cn/signup", target="_blank") 立即注册
    include partials/_footer.pug
    script(src='./vendor/vendor.js')
    script.
      $('body')
        .on('click', '.case-list .main-prev, .case-list .main-next', function() {
          const $this = $(this)
          const isPrev = $this.hasClass('main-prev')
          const currentIndex = $this.parents('.list-item').index()
          const items = $this.parents('.case-list').find('.list-item')
          const count = items.length
          let showIndex = currentIndex + (isPrev ? -1 : 1)
          if (showIndex > count - 1) showIndex = 0
          if (showIndex < 0 ) showIndex = count - 1
          items.removeClass('active')
          $(items[showIndex]).addClass('active')
        })
        .on('click', '.vertical-tabs .tab', function() {
          const $this = $(this)
          const index = $this.index()
          $this.addClass('active').siblings().removeClass('active')
          $('.vertical-tab-img').eq(index).addClass('active').siblings().removeClass('active')
        })